@model Guid

<div style="top: 37px; position: fixed; right: 100px; z-index: 998">
    <ul id="dropdown3" class="dropdown-content">
        <li>
            <button type="button" role="button" class="btn-flat blue-text" onclick="SpostaUP_EM()"><i class="material-icons">redo</i> Sposta EM UP</button>
        </li>
        <li>
            <button type="button" role="button" class="btn-flat blue-text" onclick="SpostaDOWN_EM()"><i class="material-icons">undo</i> Sposta EM DOWN</button>
        </li>
        <li>
            <button type="button" role="button" class="btn-flat purple-text" onclick="Sposta_EM()"><i class="material-icons">arrow_forward</i> Sposta EM POSIZIONE</button>
        </li>
        <li>
            <button type="button" role="button" class="btn-flat green-text" onclick="OrdinamentoConcluso('@Model')"><i class="material-icons">send</i> Ordinamento concluso</button>
        </li>
        <li>
            <button type="button" role="button" class="btn-flat amber-text" onclick="Ordina_EMTrattazione('@Model')"><i class="material-icons">cached</i> Ordina atto</button>
        </li>
        <li class="divider"></li>
        <li>
            <button type="button" role="button" class="btn-flat grey-text">Annulla</button>
        </li>
    </ul>
    <button type="button" role="button" id="btnComandiMassiviOrdinamentoAdmin" class="btn-large orange dropdown-trigger" href="#!" data-target="dropdown3" style="min-width: 250px;">ORDINAMENTI<i class="material-icons right">arrow_drop_down</i></button>
</div>