@model Guid
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pink tooltipped" data-tooltip="Comandi ordinamento" data-position="bottom">
        <i class="large material-icons">playlist_add</i>
    </a>
    <ul>
        <li>
            <button type="button" role="button" class="btn-floating tooltipped green white-text" data-position="bottom" data-tooltip="Comunica termine operazione di ordinamento" onclick="OrdinamentoConcluso('@Model')">
                <i class="material-icons">save</i>
            </button>
        </li>
        <li>
            <button type="button" role="button" class="btn-floating tooltipped blue white-text" data-position="bottom" data-tooltip="Ordinamento automatico" onclick="Ordina_EMTrattazione('@Model')">
                <i class="material-icons">autorenew</i>
            </button>
        </li>
    </ul>
</div>