@model Guid

<div style="top: 37px; position: fixed; right: 100px; z-index: 998">
    <ul id="dropdown3" class="dropdown-content">
        <li>
            <a href="#!" class="green white-text" onclick="OrdinamentoConcluso('@Model')"><i class="material-icons">send</i> Ordinamento concluso</a>
        </li>
        <li>
            <a href="#!" class="amber white-text" onclick="Ordina_EMTrattazione('@Model')"><i class="material-icons">cached</i> Ordina atto</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#!">Annulla</a>
        </li>
    </ul>
    <a id="btnComandiMassiviOrdinamentoAdmin" class="btn-large orange dropdown-trigger" href="#!" data-target="dropdown3" style="min-width: 250px;">ORDINAMENTI<i class="material-icons right">arrow_drop_down</i></a>
</div>