@model PortaleRegione.DTO.Domain.EmendamentiDto

@if (Model.AbilitaSUBEM)
{
    <div class="row">
        <div class="col s12 center">
            <div class="btn chip hoverable pink right white-text" onclick="go('@Url.Action("NuovoSUBEmendamento", "Emendamenti", new {id=Model.UIDAtto, ref_em=Model.UIDEM})')">
                <i class="icon material-icons">add</i> Crea SUBEM
            </div>
        </div>
    </div>   
}