@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Response.EmendamentiViewModel

@if (Model.ConteggiAreePolitiche.Any())
{
    if (Model.CurrentUser.IsSegreteriaAssemblea || Model.Mode == ClientModeEnum.TRATTAZIONE)
    {

        <ul class="collection">

            @foreach (var conteggio in Model.ConteggiAreePolitiche)
            {
                <li class="collection-item">
                    <div>@conteggio.AreaPolitica<a href="#!" class="secondary-content">@conteggio.num_em</a></div>
                </li>
            }

        </ul>

    }
}