@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
<script>
    $(document).ready(async function() {
        $('#btnSearch').hide();
        await CaricaTesti();
    });

    function SwitchView(val) {
        if (val == "1") {
            $('#pnlFormEM').hide();
            $('#pnlTestiAtto').show();
        } else {
            $('#pnlTestiAtto').hide();
            $('#pnlFormEM').show();
        }
    }

    async function CaricaTesti() {
        var attoUId = $('#Emendamento_UIDAtto').val();
        var grigliaInDb = await GetGrigliaTesto(attoUId);
        var table = $("#tableTesti");
        $.each(grigliaInDb,
            function (index, articoloModel) {
                var testoArticolo = articoloModel.Data.TestoArticolo ? articoloModel.Data.TestoArticolo : "";
                table.append('<tr class="hoverable" onclick="InserimentoEM_Articolo(\'' + articoloModel.Data.UIDArticolo +'\')"><td width="10%"><b>Articolo ' + articoloModel.Data.Articolo + '</b></td><td>' + testoArticolo + '</td></tr>');
                if (articoloModel.Commi.length > 0) {
                    $.each(articoloModel.Commi,
                        function (index, commaModel) {
                            var testoComma = commaModel.Data.TestoComma ? commaModel.Data.TestoComma : "";
                            table.append('<tr class="hoverable" onclick="InserimentoEM_Comma(\'' + articoloModel.Data.UIDArticolo + '\', \'' + commaModel.Data.UIDComma +'\')"><td width="10%">&nbsp;&nbsp;Comma ' + commaModel.Data.Comma + '</td><td>' + testoComma + '</td></tr>');
                            if (commaModel.Lettere.length > 0) {
                                $.each(commaModel.Lettere,
                                    function (index, letteraModel) {
                                        var testoLettera = letteraModel.Data.TestoLettera ? letteraModel.Data.TestoLettera : "";
                                        table.append('<tr class="hoverable" onclick="InserimentoEM_Lettera(\'' + articoloModel.Data.UIDArticolo + '\', \'' + commaModel.Data.UIDComma + '\', \'' + letteraModel.Data.UIDLettera +'\')"><td width="10%">&nbsp;&nbsp;&nbsp;&nbsp;<i>Lettera ' + letteraModel.Data.Lettera + '</i></td><td>' + testoLettera + '</td></tr>');
                                    });
                            }
                        });
                }
            });
    }

    async function InserimentoEM_Articolo(articoloUId) {
        $($('input[name="Emendamento.IDParte"]')[3]).click();
        await Articoli_OnChange(articoloUId, null, null);
        $('#viewManual').click();
        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
        window.scrollTo(0,0);
    }
    async function InserimentoEM_Comma(articoloUId, commaUId) {
        $($('input[name="Emendamento.IDParte"]')[3]).click();
        await Articoli_OnChange(articoloUId, commaUId, null);
        $('#viewManual').click();
        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
        window.scrollTo(0, 0);
    }
    async function InserimentoEM_Lettera(articoloUId, commaUId, letteraUId) {
        $($('input[name="Emendamento.IDParte"]')[3]).click();
        await Articoli_OnChange(articoloUId, commaUId, letteraUId);
        $('#viewManual').click();
        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
        window.scrollTo(0, 0);
    }

    function InitEffettiFinanziari(value) {
        $('input[id="Emendamento.EffettiFinanziari"]').each(function(index, item) {
            if (item.value == value) {
                $(item).prop("checked", true);
            }
        });
    }

    function EffettiFinanziari_OnChange(change) {
        if (change == 1) {
            $('.only-effetti').show();
        } else {
            $('.only-effetti').hide();
            $('.pnl-doc').hide();
        }
    }

    $("#btnSave").on("click",
        function() {
            $('#formEmendamento').submit();
        });
    $("#formEmendamento").submit(function(e) {
        e.preventDefault();
    }).validate({
        submitHandler: async function (form) {
waiting(true);
            var docAllegatoGenerico;
            var inputsAllegatoGenerico = $('input[name=DocAllegatoGenerico]');
            if (inputsAllegatoGenerico.length != 0) {
                var inputFileAllegatoGenerico = inputsAllegatoGenerico[0];
                if (!inputFileAllegatoGenerico.files) {
                    waiting(false);
                    alert("This browser doesn't seem to support the `files` property of file inputs.");
                }
                if (inputFileAllegatoGenerico.files.length > 0) {
                    var validation = await validateFileAdvanced(inputFileAllegatoGenerico.files[0]);
                    if (!validation.valid) {
                        alert('ERRORE DI VALIDAZIONE:\n\n' + validation.error);
                        return;
                    }
                    docAllegatoGenerico = inputFileAllegatoGenerico.files[0];                    
                }
            }
            var docAllegatoTecnico;
            var inputsAllegatoTecnico = $('input[name=DocEffettiFinanziari]');
            if (inputsAllegatoTecnico.length != 0) {
                var inputFileAllegatoTecnico = inputsAllegatoTecnico[0];
                if (!inputFileAllegatoTecnico.files) {
                    waiting(false);
                    alert("This browser doesn't seem to support the `files` property of file inputs.");
                }
                if (inputFileAllegatoTecnico.files.length > 0) {
                    var validation = await validateFileAdvanced(inputFileAllegatoTecnico.files[0]);
                    if (!validation.valid) {
                        alert('ERRORE DI VALIDAZIONE:\n\n' + validation.error);
                        return;
                    }
                    docAllegatoTecnico = inputFileAllegatoTecnico.files[0];
                }
            }

            var proponente;
            if ($('input[name="Emendamento.UIDPersonaProponente"]').val())
                proponente = $('input[name="Emendamento.UIDPersonaProponente"]').val();
            else {
                if ($('#chkProponentiConsiglieri').is(":checked"))
                    proponente = $('#selectProponentiConsiglieri').val();
                else if ($('#chkProponentiAssessori').is(":checked")) {
                    proponente = $('#selectProponentiAssessori').val();
                    $('#Emendamento_id_gruppo').val(10000);
                } else {
                    proponente = $('#Emendamento_UIDPersonaProponente').val();
                }
            }

            var container_testo_originale = $("#Emendamento_TestoEM_originale").parent();
            var editor_testo_originale = $(container_testo_originale).find(".trumbowyg-editor");
            var container_relazione = $("#Emendamento_TestoREL_originale").parent();
            var editor_relazione = $(container_relazione).find(".trumbowyg-editor");

            var form_data = new FormData();
            form_data.append("UIDAtto", $('input[name="Emendamento.UIDAtto"]').val());
            form_data.append("UIDEM", $('input[name="Emendamento.UIDEM"]').val());
            form_data.append("UIDPersonaProponente", proponente);
            form_data.append("UIDPersonaCreazione", $('input[name="Emendamento.UIDPersonaCreazione"]').val());
            form_data.append("idRuoloCreazione", $('input[name="Emendamento.idRuoloCreazione"]').val());
            form_data.append("Progressivo", $('input[name="Emendamento.Progressivo"]').val());
            form_data.append("SubProgressivo", $('input[name="Emendamento.SubProgressivo"]').val());
            form_data.append("Rif_UIDEM", $('input[name="Emendamento.Rif_UIDEM"]').val());
            form_data.append("id_gruppo", $('input[name="Emendamento.id_gruppo"]').val());
            form_data.append("DataCreazione", $('input[name="Emendamento.DataCreazione"]').val());
            form_data.append("DataModifica", $('input[name="Emendamento.DataModifica"]').val());
            form_data.append("UIDPersonaModifica", $('input[name="Emendamento.UIDPersonaModifica"]').val());
            form_data.append("UID_QRCode", $('input[name="Emendamento.UID_QRCode"]').val());
            var riservato = $('input[name="Emendamento.Riservato"]').is(":checked");
            if (riservato == true) {
                form_data.append("IDStato", @Html.Raw((int)StatiEnum.Bozza_Riservata));
            } else {
                form_data.append("IDStato", @Html.Raw((int)StatiEnum.Bozza));
            }

            var Firma_su_invito = $('input[name="Emendamento.Firma_su_invito"]').is(":checked");
            form_data.append("Firma_su_invito", Firma_su_invito);

            form_data.append("TestoEM_originale", editor_testo_originale.html());
            form_data.append("TestoREL_originale", editor_relazione.html());

            form_data.append("IDParte", $('#hdParteId').val());
            form_data.append("NTitolo", $('input[name="Emendamento.NTitolo"]').val());
            form_data.append("NCapo", $('input[name="Emendamento.NCapo"]').val());
            form_data.append("UIDArticolo", $('select[id="ArticoliList"]').children("option:selected").val());
            form_data.append("UIDComma", $('select[id="CommiList"]').children("option:selected").val());
            form_data.append("UIDLettera", $('select[id="LettereList"]').children("option:selected").val());
            form_data.append("NMissione", $('select[id="MissioniList"]').children("option:selected").val());
            form_data.append("NTitoloB", $('select[id="TitoliMissioniList"]').children("option:selected").val());
            form_data.append("NProgramma", $('input[name="Emendamento.NProgramma"]').val());
            form_data.append("IDTipo_EM", $('#hdTipoId').val());

            var effettiFinanziariArr = $('input[id="Emendamento.EffettiFinanziari"]');
            $.each(effettiFinanziariArr,
                function(index, item) {
                    if ($(item).is(":checked")) {
                        waiting(false);
                        form_data.append("EffettiFinanziari", $(item).val());
                        return;
                    }
                });

            form_data.append("DocEffettiFinanziari", docAllegatoTecnico);
            form_data.append("DocAllegatoGenerico", docAllegatoGenerico);

            //Tags
            var tagData = [];
            if (tagInstance != null) {
                t = tagInstance[0];
                $.each(t.chipsData, function(index, item) {
                    tagData.push(item);
                });

                form_data.append("Tags", JSON.stringify(tagData));
            }

            //submit via ajax
            $.ajax({
                url: baseUrl + "/emendamenti/salva",
                type: "POST",
                data: form_data,
                processData: false,
                contentType: false
            }).done(function(data) {
                waiting(false);
                if (data.message)
                    {
                        swal({
                            title: "Errore",
                            text: data.message,
                            icon: "error"
                        });
                    }
                else
                    {
                        window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
                        if($('input[name="Emendamento.UIDEM"]').val() == "00000000-0000-0000-0000-000000000000"){
							window.close();
						}else{
							go(data)
						}
                    }
            }).fail(function(err) {
                waiting(false);
                console.log("error", err);
                if (err.responseJSON.message) {
                    ErrorAlert(err.responseJSON.message);
                }else{
                    Error(err);
                }
            });

            return false; //This doesn't prevent the form from submitting.
        }
    });

    initSecureTrumbowyg('.trumbowyg');
	/*$('.trumbowyg').trumbowyg({
		//semantic: true, // Usa tag semantici validi
		//tagsToKeep: ['b', 'i', 'u', 'strong', 'em'], // Specifica i tag consentiti
		//removeformatPasted: true, // Rimuovi formattazioni strane durante il paste
		lang: 'it',
		btns: [
			['viewHTML'],
			['formatting'],
			['strong', 'em', 'del'],
			['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
			['unorderedList', 'orderedList'],
			['indent', 'outdent'],
			['table'],
			['link'],
			['fontfamily'],
			['fontsize'],
			['removeformat'],
			['fullscreen']
		],
		plugins: {
			fontfamily: {
				fontList: [
					{ name: 'Arial', family: 'Arial, Helvetica, sans-serif' },
					{ name: 'Open Sans', family: '\'Open Sans\', sans-serif' }
				]
			}
		}
	});*/

</script>