@model PortaleRegione.DTO.Response.EmendamentiViewModel

<script>

    var template_item = "<li class='collection-item' data-uidem='{{UIDEM}}'>{{N_EM}} <a class='secondary-content blue-text' onclick=\"openMetaDati(\'{{UIDEM}}\')\"'><i class='material-icons'>edit</i></li>";
    var template_item_pos = "<li class='collection-item'>{{POS}}</li>";

    async function viewOrdinamentoAtto() {
        $('#btnSearch').hide();
        waiting(true);
        await CaricaEmendamenti();
        $('#pnlViewStandard').hide();
        $('#pnlViewTestoAtto').hide();
        $('#pnlOrdinamento').show();
        waiting(false);
    }

    async function CaricaEmendamenti() {
        var attoUId = $('#hdUIdAtto').val();
        var grigliaInDb = await GetGrigliaOrdinamentoEM(attoUId);

        var table = $("#tableOrdinamento");
        var tablePos = $("#tablePositions");
        table.empty();
        tablePos.empty();

        $.each(grigliaInDb,
            function(index, em) {
                var template_item_em = template_item.replace(/{{N_EM}}/g, em.N_EM)
                    .replace(/{{UIDEM}}/g, em.UIDEM);
                var template_item_em_pos = template_item_pos.replace(/{{POS}}/g, em.OrdineVotazione);
                table.append(template_item_em);
                tablePos.append(template_item_em_pos);
            });
    }

    function goToEM(uidem) {
        var url = '@Url.Action("Index", "EMPublic")';
        window.open(url + "?id=" + uidem, '_blank');
    }

</script>