@using ExpressionBuilder.Common
@using PortaleRegione.DTO.Enum
@model Guid

<div id="modalStampa" class="modal">
    <div class="modal-content">
        <h5 id="emStampaDisplayName"></h5>
        <p>Stai per generare la stampa degli emendamenti selezionati. Sei sicuro?</p>
        @using (Html.BeginForm("NuovaStampa", "Stampe", FormMethod.Post, new { id = "formStampa" }))
        {
            @Html.AntiForgeryToken()
            <input id="hdUIdAtto" name="UIDAtto" type="hidden" value="@Model"/>
            <input id="hdOrdine" name="Ordine" type="hidden" value="" />
            <div id="pnlDaA">
            <div class="form-group">
                <label>Dall' emendamento in posizione:</label>
                <input id="txtDa" name="Da" type="number" class="form-control" value="1" min="1" />
            </div>
                <div class="form-group">
                    <label>All' emendamento in posizione:</label>
                    <input id="txtA" name="A" type="number" class="form-control" />
                </div>
            </div>
        }
        <div class="modal-footer">
            <button type="button" class="btn modal-close grey">Annulla</button>
            <a id="btnConfermaStampa" class="btn blue">Genera stampa</a>
        </div>
    </div>
</div>
@{
    var mode = HttpUtility.ParseQueryString(Request.Url.Query).Get("mode");
    if (string.IsNullOrEmpty(mode))
    {
        mode = "1";
    }
}

<script>
    function ConfirmStampa() {
            $("#emStampaDisplayName").empty();

            var documentiTotali = $("#hdTotaleDocumenti").val();
            var selezionaTutti = getSelezionaTutti();
            var listaEM = getListaEmendamenti();
            var totaleDoc = selezionaTutti || listaEM.length == 0 ? documentiTotali - listaEM.length : listaEM.length;

            if (totaleDoc <= 0) {
                ErrorAlert("Seleziona almeno un emendamento da stampare");
                return;
            }
            if (totaleDoc >= 10) {
                $('#pnlDaA').show();
            } else {
                $('#pnlDaA').hide();
            }
            $("#txtA").val(totaleDoc);
            $("#txtA").prop("max", totaleDoc);

            $("#emStampaDisplayName").append("GENERA FASCICOLO EMENDAMENTI (TOTALE EM DA ESPORTARE: " + totaleDoc + ")");

            $("#modalStampa").modal("open");
            $("#btnConfermaStampa").on("click",
                function() {
                    $("#formStampa").submit();
                });
        }

        $("#formStampa").submit(function(e) {
            e.preventDefault();
        }).validate({
            submitHandler: function(form) {
                var obj = {};

                obj.param = {
                    UIDAtto: $("#hdUIdAtto").val(),
                    Da: $("#txtDa").val(),
                    A: $("#txtA").val(),
                    Ordine: $("#hdOrdine").val(),
                    CLIENT_MODE: @Html.Raw(mode)
                };

                var lstEM = getListaEmendamenti();
                if (lstEM.length > 0) {
                    obj.filtro = [];
                    var selezionaTutti = getSelezionaTutti();
                    for (var i = 0; i < lstEM.length; i++) {
                        obj.filtro.push({
                            PropertyId: "UIDEM",
                            Operation: selezionaTutti ? 5 : 1,
                            Value: lstEM[i],
                            Connector: @((int)FilterStatementConnector.Or)
                        });
                    }
                }
                console.log("STampa", obj)

                //submit via ajax
                $.ajax({
                    url: baseUrl + "/stampe/nuova",
                    type: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(data) {
                    if (data.message)
                        ErrorAlert(data.message);
                    else {
                        $("#modalStampa").modal("close");
                        waiting(false);
                        M.toast({ html: "<span>Vai alle stampe</span><button onclick='go(\"" + data + "\")' class='btn-flat toast-action'>Vai</button>", classes: 'rounded', displayLength: 10000 });
                    }

                    setListaEmendamenti([]);
                    setSelezionaTutti(false);
                }).fail(function(err) {
                    console.log("error", err);
                    ErrorAlert(err.message);
                });

                return false; //This doesn't prevent the form from submitting.
            }
        });
</script>