@model PortaleRegione.DTO.Model.EmendamentiFormModel

<h5>Tags</h5>
<hr/>

<div id="tagsEm" class="chips"></div>

<script>
    document.addEventListener('DOMContentLoaded',
        async function () {
            var tagsInDb = await GetTags();
            $('#tagsEm').chips({
                placeholder: 'Aggiungi un tag',
                secondaryPlaceholder: '+ Tag',
                autocompleteOptions: {
                    data: tagsInDb,
                    limit: Infinity,
                    minLength: 1
                }
            });
        });
</script>

<style>
    .chips > .chip { min-width: unset !important; }
</style>