@model PortaleRegione.DTO.Model.EmendamentiFormModel

<h5>Tags</h5>
<hr/>

<div id="tagsEm" class="chips"></div>

<script>
    var tagInstance;
    document.addEventListener('DOMContentLoaded',
        async function () {
            var currentTags = @Html.Raw(Model.Emendamento.Tags);
            var tagsInDb = await GetTags();

            var elems = document.querySelectorAll('#tagsEm');
            tagInstance = M.Chips.init(elems,
                {
                    data: currentTags,
                    placeholder: 'Aggiungi un tag',
                    secondaryPlaceholder: '+ Tag',
                    autocompleteOptions: {
                        data: tagsInDb,
                        limit: Infinity,
                        minLength: 1
                    }
                });
        });
</script>