@model PortaleRegione.DTO.Response.EmendamentiViewModel

<script>
async function viewTestoAtto() {
        await CaricaTesti();
        $('#pnlViewStandard').hide();
        $('#pnlViewTestoAtto').show();
    }

    function viewStandard() {
        $('#pnlViewStandard').show();
        $('#pnlViewTestoAtto').hide();
    }

    async function CaricaTesti() {
        var attoUId = $('#hdUIdAtto').val();
        var grigliaInDb = await GetGrigliaTestoEM(attoUId);
        var table = $("#tableTesti");

        table.empty();

        $.each(grigliaInDb,
            function(index, articoloModel) {
                var testoArticolo = articoloModel.Data.TestoArticolo ? articoloModel.Data.TestoArticolo : "";
                var emArticoli = "";
                if (articoloModel.Emendamenti.length > 0) {
                    emArticoli = "<br>";

                    $.each(articoloModel.Emendamenti,
                        function(index, emArtItem) {
                            emArticoli = emArticoli + "<div class='chip white black-text hoverable' style='min-width: unset; border: 1px solid green' onclick=\"goToEM(\'" + emArtItem.UID_QRCode +"\')\"><b>" + emArtItem.N_EM + "</b> - " + emArtItem.PersonaProponente.DisplayName + "</div>";
                        });
                }
                table.append('<tr class="hoverable"><td width="10%"><b>Articolo ' + articoloModel.Data.Articolo + '</b></td><td>' + testoArticolo + emArticoli + '</td></tr>');
                if (articoloModel.Commi.length > 0) {
                    $.each(articoloModel.Commi,
                        function(index, commaModel) {
                            var testoComma = commaModel.Data.TestoComma ? commaModel.Data.TestoComma : "";
                            var emCommi = "";
                            if (commaModel.Emendamenti.length > 0) {
                                emCommi = "<br>";

                                $.each(commaModel.Emendamenti,
                                    function(index, emCommaItem) {
                                        emCommi = emCommi + "<div class='chip white black-text' style='min-width: unset; border: 1px solid green'><b>" + emCommaItem.N_EM + "</b> - " + emCommaItem.PersonaProponente.DisplayName + "</div>";
                                    });
                            }

                            table.append('<tr class="hoverable"><td width="10%">&nbsp;&nbsp;Comma ' + commaModel.Data.Comma + '</td><td>' + testoComma + emCommi + '</td></tr>');
                            if (commaModel.Lettere.length > 0) {
                                $.each(commaModel.Lettere,
                                    function(index, letteraModel) {
                                        var testoLettera = letteraModel.Data.TestoLettera ? letteraModel.Data.TestoLettera : "";
                                        var emLettere = "";
                                        if (letteraModel.Emendamenti.length > 0) {
                                            emLettere = "<br>";

                                            $.each(letteraModel.Emendamenti,
                                                function(index, emLetteraItem) {
                                                    emLettere = emLettere + "<div class='chip white black-text' style='min-width: unset; border: 1px solid green'><b>" + emLetteraItem.N_EM + "</b> - " + emLetteraItem.PersonaProponente.DisplayName + "</div>";
                                                });
                                        }

                                        table.append('<tr class="hoverable"><td width="10%">&nbsp;&nbsp;&nbsp;&nbsp;<i>Lettera ' + letteraModel.Data.Lettera + '</i></td><td>' + testoLettera + emLettere + '</td></tr>');
                                    });
                            }
                        });
                }
            });
    }

    function goToEM(uidem){
        var url ='@Url.Action("Index", "EMPublic")';
        console.log(url);
        console.log(url + "?id=" + uidem);
        window.open(url + "?id=" + uidem, '_blank');
    }
</script>