@using PortaleRegione.DTO.Enum
<li class="menuTrattazione itemSeduteAttive bold">
    <a class="collapsible-header waves-effect"><i class="material-icons">event</i>Sedute Attive</a>
    <div class="collapsible-body" style="display: block;">
        <ul id="lstSeduteAttive">
        </ul>
    </div>
</li>
<li class="menuTrattazione itemArchivio bold">
    <a class="waves-effect" href="@Url.Action("Archivio", "AttiTrattazione")"><i class="material-icons">chevron_right</i>Tutte le sedute</a>
</li>
<li class="menuTrattazione itemAreaGruppi bold">
    <a class="waves-effect red-text" href="#!" onclick="AbilitaTrattazione(@Html.Raw((int)ClientModeEnum.GRUPPI))"><i class="material-icons red-text">exit_to_app</i>Esci dall' Aula</a>
</li>