@{
    Html.RenderPartial("_MenuStandard");
}

<li class="menuItem_Amministrazione_Utenti bold">
    <a class="waves-effect purple-text" href="@Url.Action("RiepilogoUtenti", "AdminPanel")"><i class="material-icons purple-text">person</i>Utenti</a>
</li>
<li class="menuItem_Amministrazione_Gruppi bold">
    <a class="waves-effect purple-text" href="@Url.Action("RiepilogoGruppi", "AdminPanel")"><i class="material-icons purple-text">group</i>Gruppi</a>
</li>
<li class="menuItem_Amministrazione_Templates bold">
    <a class="waves-effect purple-text" href="@Url.Action("RiepilogoTemplates", "Template")"><i class="material-icons purple-text">article</i>Templates</a>
</li>