@using PortaleRegione.Client.Helpers
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small">
                <i class="material-icons">menu</i>
            </a>
            <a asp-area="" asp-controller="Sedute" asp-action="RiepilogoSedute" class="brand-logo">
                <img src="@AppSettingsConfiguration.Logo" width="22" alt="" loading="lazy">
                <span class="hide-on-med-and-down black-text" style="font-weight: lighter;">@AppSettingsConfiguration.NomePiattaforma</span>
            </a>
        </div>
        <div class="nav-content">
            <button type="button" id="btnSearch" class="btn-floating btn-large halfway-fab waves-effect waves-light black">
                <i class="material-icons">search</i>
            </button>
        </div>
    </nav>
</div>
