<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small">
                <i class="material-icons">menu</i>
            </a>
            <a asp-area="" asp-controller="Sedute" asp-action="RiepilogoSedute" class="brand-logo">
                <img src="https://pem.consiglio.regione.lombardia.it/images/logo.png" width="22" alt="" loading="lazy">
                <span class="hide-on-med-and-down black-text" style="font-weight: lighter;">Portale Regione - Presentazione emendamenti</span>
            </a>
        </div>
        <div class="nav-content">
            <a id="btnSearch" class="btn-floating btn-large halfway-fab waves-effect waves-light green" onclick="openSearch();">
                <i class="material-icons">search</i>
            </a>
            <div id="counterFilterActive" class="waves-effect waves-light btn-floating btn-small red white-text pulse" style="display: none; position: fixed; right: 24px;width: 20px; height: 20px;margin-top: 10px;">
                <i class="material-icons" style="font-size: small;margin-top: -5px">exposure_plus_1</i>
            </div>
        </div>
    </nav>
</div>
