@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col s12">
        <h5>
            Benvenuto,
            <b> Mario Rossi </b>
            <br/>
            <br/>
            Questo è il portale di dematerializzazione atti del <b>Consiglio Regione Lombardia.</b>
        </h5>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <h6>
                    <b>SEDUTE ATTIVE</b>
                </h6>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="carousel hide-on-small-only">
                <div class="col s6 carousel-item">
                    <div class="card hoverable green lighten-4 black-text">
                        <div class="card-content">
                            <h5 class="card-title">
                                <span>Seduta del 12/12/2021 10:45</span>
                            </h5>
                            <div class="row valign-wrapper">
                                <div class="col s10">
                                    <p>

                                        Scadenza presentazione: 10/12/2021 09:45
                                    </p>
                                </div>
                                <div class="col s2">
                                    <a class="btn-floating green" onclick="go('/atti/16045e98-3246-46b5-bf98-62f522184fb4')" title="Riepilogo atti">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 carousel-item">
                    <div class="card hoverable green lighten-4 black-text">
                        <div class="card-content">
                            <h5 class="card-title">
                                <span>Seduta del 10/12/2021 10:45</span>
                            </h5>
                            <div class="row valign-wrapper">
                                <div class="col s10">
                                    <p>

                                        Scadenza presentazione: 10/12/2021 09:45
                                    </p>
                                </div>
                                <div class="col s2">
                                    <a class="btn-floating green" onclick="go('/atti/16045e98-3246-46b5-bf98-62f522184fb4')" title="Riepilogo atti">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 carousel-item">
                    <div class="card hoverable green lighten-4 black-text">
                        <div class="card-content">
                            <h5 class="card-title">
                                <span>Seduta del 6/12/2021 10:45</span>
                            </h5>
                            <div class="row valign-wrapper">
                                <div class="col s10">
                                    <p>

                                        Scadenza presentazione: 10/12/2021 09:45
                                    </p>
                                </div>
                                <div class="col s2">
                                    <a class="btn-floating green" onclick="go('/atti/16045e98-3246-46b5-bf98-62f522184fb4')" title="Riepilogo atti">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col l6 s12">
        <div class="row">
            <div class="col s12">
                <h6><b>PEM</b> - Atti iscritti alla seduta del 12/12/2021</h6>
            </div>
        </div>
        <hr/>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons pink-text">textsms</i>PDL 124</div>
                <div class="collapsible-body">
                    <div class="row valign-wrapper">
                        <div class="col s7">
                            <h6>Emendamenti presentati</h6>
                            <h5>
                                <b>23</b>
                            </h5>
                        </div>
                        <div class="col s5">
                            <a class="btn chip blue white-text" onclick="go('/atti/16045e98-3246-46b5-bf98-62f522184fb4')">
                                <i class="icon material-icons">chevron_right</i>Riepilogo EM
                            </a>
                        </div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col s7">
                            <h6>Notifiche in sospeso</h6>
                            <h5>
                                <b>10</b>
                            </h5>
                        </div>
                        <div class="col s5">
                            <a class="btn chip amber white-text" onclick="go('/notifiche/view?is_inviate=False&archivio=False')">
                                <i class="icon material-icons">chevron_right</i>Riepilogo notifiche
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons pink-text">textsms</i>
                    PDL 78
                </div>
                <div class="collapsible-body">
                    <div class="row valign-wrapper">
                        <div class="col s7">
                            <h6>Emendamenti presentati</h6>
                            <h5>
                                <b>23</b>
                            </h5>
                        </div>
                        <div class="col s5">
                            <a class="btn chip blue white-text">
                                <i class="icon material-icons">chevron_right</i>Riepilogo EM
                            </a>
                        </div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col s7">
                            <h6>Notifiche in sospeso</h6>
                            <h5>
                                <b>10</b>
                            </h5>
                        </div>
                        <div class="col s5">
                            <a class="btn chip amber white-text" onclick="go('/notifiche/view?is_inviate=False&archivio=False')">
                                <i class="icon material-icons">chevron_right</i>Riepilogo notifiche
                            </a>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="col l6 s12">
        <div class="row">
            <div class="col s12">
                <h6>
                    <b>DASI</b> - Atti Sindacato Ispettivo del Gruppo
                </h6>
            </div>
        </div>
        <hr/>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle green">textsms</i>
                <span class="title">
                    <b>ITL</b>
                </span>
                <p>
                    Bozza: <b>3</b> <br>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text" style="right: 60px;" data-tipo-dasi="1">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle blue">textsms</i>
                <span class="title">
                    <b>ITR</b>
                </span>
                <p>
                    Bozza: <b>3</b> <br>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text" style="right: 60px;">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle orange">textsms</i>
                <span class="title">
                    <b>IQT</b>
                </span>
                <p>
                    Bozza: <b>3</b> <br>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text" style="right: 60px;">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">textsms</i>
                <span class="title">
                    <b>MOZ</b>
                </span>
                <p>
                    Bozza: <b>3</b> <br>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text add" style="right: 60px;">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">textsms</i>
                <span class="title">
                    <b>ODG</b>
                </span>
                <p>
                    Bozza: <b>3</b> <br>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text" style="right: 60px;">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>

        </ul>
    </div>
</div>

<div id="slide-dashboard-DX" class="sidenav" style="overflow: auto !important">
    <div class="row">
        <h5>Notifiche</h5>
        <hr/>
        <div class="col s12" style="border-bottom: 1px solid grey">
            <div class="form-group">
                <p>
                    <b>EM 1</b>
                    <br/>
                    <label>
                        Soppressivo - Titolo PDL
                        <br/>
                        Entro il <i>27/11/2021 14:39</i>
                    </label>
                </p>
            </div>
            <div class="row valign-wrapper" style="margin-top: 20px">
                <div class="col s6">
                    PIZZUL Fabio (PD)
                </div>
                <div class="col s6 right-align">
                    <div class="btn chip blue white-text" style="min-width: unset" onclick="go('/emendamenti/view/72b37a2b-d9e9-40f9-8099-720a354ed9c9?notificaId=215122677')" title="Vedi EM">
                        <i class="icon material-icons">arrow_forward</i> Vedi EM
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12" style="border-bottom: 1px solid grey">
            <div class="form-group">
                <p>
                    <b>EM 2</b>
                    <br/>
                    <label>
                        Soppressivo - Titolo PDL
                        <br/>
                        Entro il <i>27/11/2021 14:39</i>
                    </label>
                </p>
            </div>
            <div class="row valign-wrapper" style="margin-top: 20px">
                <div class="col s6">
                    PIZZUL Fabio (PD)
                </div>
                <div class="col s6 right-align">
                    <div class="btn chip blue white-text" style="min-width: unset" onclick="go('/emendamenti/view/72b37a2b-d9e9-40f9-8099-720a354ed9c9?notificaId=215122677')" title="Vedi EM">
                        <i class="icon material-icons">arrow_forward</i> Vedi EM
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalAggiungiDASI" class="modal">
    <div class="modal-content">
        <h4 id="titleDasiModal" style="padding-bottom: 10px"></h4>
        <div class="input-field">
            <select id='modalTipoDasi'>
                <option>Orale</option>
                <option>Scritto</option>
                <option>Commissione</option>
            </select>
            <label for="modalTipoDasi">Tipo</label>
        </div>
        <div class="input-field" style="margin-top:30px">
            <label for="modalOggettoDasi">Oggetto</label>
            <textarea id="modalOggettoDasi" class="materialize-textarea"></textarea>
        </div>
        <div class="input-field">
            <label for="modalTestoDasi">Testo</label>
            <textarea id="modalTestoDasi" class="materialize-textarea"></textarea>
        </div>
        <div class="input-field">
            <label for="autocompleteSoggettoDestinatarioDasi">Soggetto interrogato</label>
            <div id="autocompleteSoggettoDestinatarioDasi" class="chips chips-autocomplete"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="btn chip grey white-text modal-close">Annulla</a>
        <a href="#!" class="btn chip blue white-text" onclick="SalvaDasi()" style="margin-right: 15px">Salva</a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
        initCarousel();
        $('#btnShowDashbloardNotification').show();
    });

    function SalvaDasi() {
        swal({
            title: "Procedura completata",
            text: "Atto inserito correttamente a sistema.",
            icon: "success",
            buttons: ["Ok", "Vai al riepilogo"]
        }).then((value) => {
            if (value) {
                go("/dasi");
            } else
                instanceModalDasi.close();
        });
    }

    var instanceModalDasi;
    $(".secondary-content, .blue-text, .add").on("click",
        function() {
            var tipo_dasi = $(this).data('tipo-dasi');
            var title = "";
            if (tipo_dasi == 1) {
                title = "Nuova interrogazione ITL";
            }
            $('#titleDasiModal').text(title);
            $('select').formSelect();
            var elemAutocomplete = document.querySelector('#autocompleteSoggettoDestinatarioDasi');

            var autocompleteDataOptions = {
                data: [
                    { tag: 'I Commissione permanente - Economia e Bilancio', id: '1' },
                    { tag: 'II Commissione', id: '2' },
                    { tag: 'III Commissione', id: '3' }
                ],
                limit: 10,
                minLength: 1
            };
            M.Chips.init(elemAutocomplete,
                {
                    autocompleteOptions: autocompleteDataOptions,
                    onChipAdd: function(e, chip) {
                    },
                    onChipSelect: function(e, chip) {
                    },
                    onChipDelete: function(e, chip) {
                    }
                });
            var elemModal = document.querySelector("#modalAggiungiDASI");
            var options = {
                dismissible: false
            };
            instanceModalDasi = M.Modal.init(elemModal, options);
            instanceModalDasi.open();
        });

    $(".carousel").on("mouseover",
        function() {
            stopRicaricaAuto();
        });
    $(".carousel").on("mouseleave",
        function() {
            playRicaricaAuto();
        });

    var interval = null;
    var initial_start = 30;
    var instanceCarousel;

    function initCarousel() {
        var elem = document.querySelector('.carousel');
        var options = {
            padding: 10,
            numVisible: 5,
            indicators: true
        };
        instanceCarousel = M.Carousel.init(elem, options);
        playRicaricaAuto();
    }

    function playRicaricaAuto() {
        interval = setInterval(function() {
                instanceCarousel.next();
            },
            8500);
    }

    function stopRicaricaAuto() {
        clearInterval(interval);
    }

    function openDashboardNotification() {
        var elems = document.querySelector("#slide-dashboard-DX");
        var instances = M.Sidenav.init(elems,
            {
                edge: "right",
                draggable: true,
                onOpenStart: function() {
                    // Menu laterale SX sotto a layer opaco
                    $("#slide-out").css("z-index", 997);
                },
                onCloseEnd: function() {
                    // Ripristino menu laterale SX
                    $("#slide-out").css("z-index", 999);
                }
            });

        instances.open();
    }
</script>