################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

*.suo
*.dll
*.pdb
/Sorgenti API/ExpressionBuilder/bin/Release
/Sorgenti API/ExpressionBuilder/obj
*.nupkg
*.config
/Sorgenti API/PortaleRegione.API/.vs/PortaleRegione.API/v16/TestStore/0
/Sorgenti API/PortaleRegione.API/packages
/Sorgenti API/PortaleRegione.API/PortaleRegione.API/esportazioni
/Sorgenti API/PortaleRegione.API/PortaleRegione.API/bin
/Sorgenti API/PortaleRegione.API/PortaleRegione.API/obj/Debug
/Sorgenti API/PortaleRegione.API/PortaleRegione.API/Properties/PublishProfiles
/Sorgenti API/PortaleRegione.API/Pubblicazione/bin/roslyn
/Sorgenti API/PortaleRegione.API/Pubblicazione
/Sorgenti API/PortaleRegione.BAL/bin
/Sorgenti API/PortaleRegione.BAL/obj
/Sorgenti API/PortaleRegione.Common/bin
/Sorgenti API/PortaleRegione.Common/obj
/Sorgenti API/PortaleRegione.Contracts/bin
/Sorgenti API/PortaleRegione.Contracts/obj
/Sorgenti API/PortaleRegione.DataBase/bin
/Sorgenti API/PortaleRegione.DataBase/obj
/Sorgenti API/PortaleRegione.Domain/obj
/Sorgenti API/PortaleRegione.DTO/bin
/Sorgenti API/PortaleRegione.DTO/obj
/Sorgenti API/PortaleRegione.Logger/bin
/Sorgenti API/PortaleRegione.Logger/obj
/Sorgenti API/PortaleRegione.Persistance/bin
/Sorgenti API/PortaleRegione.Persistance/obj
/Sorgenti Client/PortaleRegione.Client/packages
/Sorgenti Client/PortaleRegione.Client/PortaleRegione.Client/bin
/Sorgenti Client/PortaleRegione.Client/PortaleRegione.Client/obj/Debug
/Sorgenti Client/PortaleRegione.Client/Pubblicazione
/Sorgenti Client/PortaleRegione.Gateway/bin
/Sorgenti Client/PortaleRegione.Gateway/obj
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/.vs/GeneraStampeJob/DesignTimeBuild
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJob/bin/Release/netstandard2.0
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJob/obj
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJob/Properties/PublishProfiles
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/packages
/Sorgenti modulo di stampa asincrona/PortaleRegione.GestioneStampe/packages
/Sorgenti modulo di stampa asincrona/PortaleRegione.GestioneStampe/PortaleRegione.GestioneStampe/bin
/Sorgenti modulo di stampa asincrona/PortaleRegione.GestioneStampe/PortaleRegione.GestioneStampe/obj
/Sorgenti Client/PortaleRegione.Client/PortaleRegione.Client/Properties/PublishProfiles
/Sorgenti Client/PortaleRegione.Client/.idea/.idea.PortaleRegione.Client/.idea
/Sorgenti Scheduler Quartz/Scheduler Service/packages
/Sorgenti API/PortaleRegione.API/PortaleRegione.API/obj/Release
*.zip
/Sorgenti Client/PortaleRegione.Client/PortaleRegione.Client/obj/Release/Package/PackageTmp
/Sorgenti Client/PortaleRegione.Client/PortaleRegione.Client/obj/Release
/Sorgenti Scheduler Quartz/Scheduler Quartz/obj/Debug
/Sorgenti Scheduler Quartz/Scheduler Quartz/Scheduler.sln
/Sorgenti Scheduler Quartz/Scheduler Quartz/bin/Debug
/Sorgenti Scheduler Quartz/Scheduler Quartz/packages
/Sorgenti Scheduler Quartz/Scheduler Service/bin/Debug
/Sorgenti Client/PortaleRegione.Test/obj
/Sorgenti Client/PortaleRegione.Client/.vs/PortaleRegione.Client/DesignTimeBuild
/Sorgenti Client/PortaleRegione.Client/.vs/PortaleRegione.Client/v16
/Sorgenti Client/PortaleRegione.Test/bin/Debug/net472
/Sorgenti Client/PortaleRegione.Test/PersoneTests.cs
/Sorgenti Client/PortaleRegione.Test/SeduteTests.cs
*.user
*.DotSettings
/Sorgenti Client/PortaleRegione.Test
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJob/bin/Debug/netstandard2.0
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/.vs/GeneraStampeJob/v16/TestStore/0
/Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJob.Test

Sorgenti Scheduler Quartz/Scheduler Quartz/obj/

.vs/

Sorgenti Scheduler Quartz/Scheduler Service/obj/

Sorgenti Scheduler Quartz/Scheduler Quartz/bin/Release/DotNetZip.xml
Sorgenti API/PortaleRegione.Domain/bin
Sorgenti Scheduler Quartz/Scheduler Quartz/obj
Sorgenti Scheduler Quartz/Scheduler Quartz/obj
Sorgenti Scheduler Quartz/Scheduler Quartz/obj
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/PortaleRegione.GeneraStampeJob.Test
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/PortaleRegione.Test/obj
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/PortaleRegione.Test
Sorgenti Scheduler Quartz/Scheduler Quartz/bin
Sorgenti Scheduler Quartz/Scheduler Quartz/obj
Sorgenti Scheduler Quartz/Scheduler Service/bin
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/PortaleRegione.JobStampeTest/bin
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/PortaleRegione.JobStampeTest/obj
Demo/PortaleRegione.Demo/bin
Demo/PortaleRegione.Demo/obj
Demo/PortaleRegione.Demo/packages
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJob/bin
Demo
Sorgenti API/PortaleRegione.Crypto/obj
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDatiAlfresco/obj
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDatiAlfresco/packages
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDatiAlfresco/bin
PortaleRegione.C102.ImportazioneDocumentiAlfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/bin
PortaleRegione.C102.ImportazioneDocumentiAlfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/obj
PortaleRegione.C102.ImportazioneDocumentiAlfresco/packages
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/bin
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/obj
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDocumentiAlfresco/packages
Sorgenti API Pubblica/PortaleRegione.Api.Public/bin
Sorgenti API Pubblica/PortaleRegione.Api.Public/obj
Sorgenti API Pubblica/PortaleRegione.Api.Public/packages
Sorgenti API Pubblica/PortaleRegione.Contracts.Public/bin
Sorgenti API Pubblica/PortaleRegione.Contracts.Public/obj
Sorgenti API Pubblica/PortaleRegione.Persistance.Public/bin
Sorgenti API Pubblica/PortaleRegione.Persistance.Public/obj
Sorgenti API Pubblica/PortaleRegione.Api.Public/log
Sorgenti API Pubblica/PortaleRegione.Api.Public/Properties/PublishProfiles/FolderProfile.pubxml
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJobFramework/bin
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/GeneraStampeJobFramework/obj
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/JobTest/bin
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/JobTest/obj
Sorgenti modulo retention/Jobs/CleanLogRetention/obj
Sorgenti modulo calcolo ritardo/Jobs/TestJob/obj
Sorgenti API/PortaleRegione.API/.idea
Sorgenti API/PortaleRegione.API/PortaleRegione.SDK.GEA/obj
Sorgenti API/PortaleRegione.SDK.GEA/obj
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/.idea
Sorgenti API/PortaleRegione.SDK.GEA/bin
Sorgenti Importazione Dati Alfresco/PortaleRegione.C102.ImportazioneDatiAlfresco/.idea
Sorgenti API Pubblica/PortaleRegione.Api.Public/.idea
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/TestProject/bin
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/TestProject/obj
Sorgenti modulo di stampa asincrona/Jobs/GeneraStampeJob/TestProject/testsettings.json
