<div id="modalResetPin" class="modal">
    <div class="modal-content">
        <h5>Attenzione</h5>
        <p>Sei sicuro di voler resettare il pin di <b id="txtDisplayNamePersonaPin"></b>?</p>
        <div class="form-group">
            <label>Inserisci nuovo pin</label>
            <input type="text" id="txtResetPin" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-close grey">Annulla</button>
            <a id="btnResetPin" class="btn red" href="#">RESET PIN</a>
        </div>
    </div>
</div>