@using PortaleRegione.Common
@model PortaleRegione.Client.Models.AttiViewModel

<div class="row">
    <div class="col s12 valign-wrapper">
        <a class="btn chip hoverable green lighten-1 center black-text" id="btnInserisciTesti">
            Visualizza testo
            <i class="material-icons right">remove_red_eye</i>
        </a>
        <label id="info-label-autosave" style="display: none; padding-left: 20px"><b>SALVATAGGIO AUTOMATICO ATTIVO</b></label>
        <i class="material-icons right tooltipped" data-tooltip="Aggiorna" onclick="CaricaTesti();">refresh</i>
    </div>
</div>

@if (Model.Atto.UIDAtto != Guid.Empty)
{
    <div class="row" id="pnlTesti" style="display: none">
        <table id="tableTesti" class="tableTesti">
            <tr>
                <td colspan="2" style="text-align: center; font-weight: bold;">
                    @Utility.GetText_Tipo(Model.Atto.IDTipoAtto)
                    @Model.Atto.NAtto
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    @Model.Atto.Oggetto
                </td>
            </tr>
        </table>
    </div>

    <div id="modalModificaTesto" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row" style="margin: unset !important">
                <div class="col l6 left-align">
                    <h5 style="margin: unset !important">
                        <b>
                            <span id="modalTitle"></span>
                        </b>
                    </h5>
                </div>
                <div class="col l6 right-align">
                    <a id="btnSalvaTesto" href="#!" class="waves-effect waves-green btn-flat green-text" style="font-weight: bold;">Salva</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Chiudi</a>
                </div>
            </div>
            <div class="row" style="margin: unset !important">
                <div class="col l12">
                    <textarea id="EditorTesto" class="form-control trumbowyg"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btnInserisciTesti").on("click",
            async function() {
                if ($("#viewGrid").is(":visible")) {
                    $("#viewGrid").hide();
                    $("#btnInserisciTesti").html('Visualizza griglia <i class="material-icons right">grid_on</i>');
                    $("#pnlTesti").show();
                    $("#info-label-autosave").show();

                    await CaricaTesti();
                } else {
                    $("#pnlTesti").hide();
                    $("#btnInserisciTesti").html('Visualizza testo <i class="material-icons right">remove_red_eye</i>');
                    $("#viewGrid").show();
                    $("#info-label-autosave").hide();
                }
            });

        $("#btnSalvaTesto").on("click",
            function() {
                var container_testo = $("#EditorTesto").parent();
                var editor_testo = $(container_testo).find(".trumbowyg-editor");

                var testo = editor_testo.html();
                var columns = $(_row).children();
                var id = $(columns[0]).data("id");
                var body = {};
                body.id = id;
                body.testo = testo;
                $.ajax({
                    url: baseUrl + "/atti/salva-testo",
                    type: "POST",
                    data: JSON.stringify(body),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(data) {
                    if (data.message)
                        swal({
                            title: "Errore",
                            text: data.message,
                            icon: "error"
                        });
                    else {
                        SuccessAlert("OK");
                        $(columns[1]).html(testo);
                        $("#modalModificaTesto").modal("close");
                    }
                
                }).fail(function(err) {
                    console.log("error", err);
                    Error(err);
                });
            });

        async function CaricaTesti() {
            var attoUId = $("#Atto_UIDAtto").val();
            var grigliaInDb = await GetGrigliaTesto(attoUId);
            var table = $("#tableTesti");
            table.empty();
            $.each(grigliaInDb,
                function(index, articoloModel) {
                    var titoloArticoloModal = "Articolo " + articoloModel.Data.Articolo;
                    var testoArticolo = articoloModel.Data.TestoArticolo ? articoloModel.Data.TestoArticolo : "";
                    table.append('<tr class="hoverable" onclick="ModificaTesto(this, \'' + titoloArticoloModal + '\')"><td width="10%" data-id="' + articoloModel.Data.UIDArticolo + '"><b>Articolo ' + articoloModel.Data.Articolo + '</b></td><td>' + testoArticolo + '</td></tr>');
                    if (articoloModel.Commi.length > 0) {
                        $.each(articoloModel.Commi,
                            function(index, commaModel) {
                                var titoloCommaModal = "Articolo " + articoloModel.Data.Articolo + " - Comma " + commaModel.Data.Comma;
                                var testoComma = commaModel.Data.TestoComma ? commaModel.Data.TestoComma : "";
                                table.append('<tr class="hoverable" onclick="ModificaTesto(this, \'' + titoloCommaModal + '\')"><td width="10%" data-id="' + commaModel.Data.UIDComma + '">&nbsp;&nbsp;Comma ' + commaModel.Data.Comma + '</td><td>' + testoComma + '</td></tr>');
                                if (commaModel.Lettere.length > 0) {
                                    $.each(commaModel.Lettere,
                                        function(index, letteraModel) {
                                            var titoloLetteraModal = "Articolo " + articoloModel.Data.Articolo + " - Comma " + commaModel.Data.Comma + " - Lettera " + letteraModel.Data.Lettera;
                                            var testoLettera = letteraModel.Data.TestoLettera ? letteraModel.Data.TestoLettera : "";
                                            table.append('<tr class="hoverable" onclick="ModificaTesto(this, \'' + titoloLetteraModal + '\')"><td width="10%" data-id="' + letteraModel.Data.UIDLettera + '">&nbsp;&nbsp;&nbsp;&nbsp;<i>Lettera ' + letteraModel.Data.Lettera + '</i></td><td>' + testoLettera + '</td></tr>');
                                        });
                                }
                            });
                    }
                });
        }

        var _row;

        function ModificaTesto(row, title) {
            _row = row;

            var loadTesto = "";
            var columns = $(_row).children();
            if ($(columns[1]).html()) {
                loadTesto = $(columns[1]).html();
            }
            $('#modalTitle').text(title);
            var container_testo = $("#EditorTesto").parent();
            var editor_testo = $(container_testo).find(".trumbowyg-editor");
            editor_testo.html(loadTesto);
            $("#modalModificaTesto").modal("open");
        }
    </script>
}