<table style="width: 100%;">
    {TIPO_RISPOSTA_COMMENTO_START}
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; text-align: left !important; border: unset !important ">
            <span>
                Tipo di risposta: <i>{lblTipoRispostaATTOView}</i>
            </span>
        </td>
    </tr>
    {TIPO_RISPOSTA_COMMENTO_END}
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; text-align: right !important; border: unset !important">
            <span style="font-weight: bold;">
                Al Presidente del Consiglio regionale della Lombardia
            </span>
        </td>
    </tr>
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; text-align: left !important; border: unset !important">
            <span style="font-weight: bold; text-decoration: underline;">
                Oggetto: {lblSubTitoloATTOView}
            </span>
        </td>
    </tr>
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; border: unset !important">
        </td>
    </tr>
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; border: unset !important">
            <span>
                {lblPremesseATTOView}
            </span>
        </td>
    </tr>
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; border: unset !important">
            <span>
                {lblRichiestaATTOView}
            </span>
        </td>
    </tr>
    <tr style="border: unset !important">
        <td colspan="2" style="padding: 10px; text-align: left !important; border: unset !important">
            <br />
            {lblAllegati}
        </td>
    </tr>
</table>