<div class="col s12">
    <div class="card">
        <div class="card-content black-text">
            <span class="card-title">{TipoAtto} {NAtto}</span>
            <ul class="collection">
                <li class="collection-item">
                    <p style="text-decoration: underline">
                        <b>{Oggetto}</b>
                    </p>
                </li>
                <li class="collection-item">Stato: {Stato}</li>
                <li class="collection-item">Iniziativa: {Firmatari}</li>
            </ul>
            
        </div>
    </div>
</div>