<style>
    tr, td { border: unset !important }

    .left-border {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
    }

    .parte {
        border: solid !important;
        font-size: 13px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 40%;
    }
</style>

<table style="width: 100%">
    {NOTE_PUBBLICHE_COMMENTO_START}
    <tr>
        <td style="text-align: left">
            <h5 style="font-size: 15px">
                {lblNotePubblicheATTOView}
            </h5>
        </td>
    </tr>
    {NOTE_PUBBLICHE_COMMENTO_END}
    <tr>
        <td style="text-align: center">
            <h3>
                <b>{lblTitoloATTOView}</b>
            </h3>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%;">
            <table style="vertical-align: top; width: 100%;">
                <tr>
                    <td style="vertical-align: top;">
                        {ltATTOView}
                        <br />
                        <table>
                            {FIRMEANTE_COMMENTO_START}
                            <tr>
                                <td style="text-align: left!important">
                                    <h5>Firme</h5>
                                    {radGridFirmeView}
                                </td>
                            </tr>
                            {FIRMEANTE_COMMENTO_END}
                            {FIRME_COMMENTO_START}
                            <tr>
                                <td style="text-align: left!important">
                                    {radGridFirmePostView}
                                </td>
                            </tr>
                            {FIRME_COMMENTO_END}
                        </table>
                        {NOTEPRIV_COMMENTO_START}
                        <div style="margin: 2px; padding: 2px">
                            <div style="font-size: 15px; font-style: italic; padding: 10px; text-align: left;">
                                {lblNotePrivateATTOView}
                            </div>
                        </div>
                        {NOTEPRIV_COMMENTO_END}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>