<style>
    tr, td { border: unset !important }
</style>
<table style="width: 100%;">
    {TIPO_RISPOSTA_COMMENTO_START}
    <tr>
        <td colspan="2" style="padding: 10px; text-align: left !important;">
            <span>
                Tipo di risposta: <i>{lblTipoRispostaATTOView}</i>
            </span>
        </td>
    </tr>
    {TIPO_RISPOSTA_COMMENTO_END}
    <tr>
        <td colspan="2" style="padding: 10px; text-align: right !important;">
            <span style="font-weight: bold;">
                Al Presidente del Consiglio regionale della Lombardia
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px; text-align: left !important;">
            <span style="font-weight: bold; text-decoration: underline;">
                Oggetto: {lblSubTitoloATTOView}
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; padding: 10px; text-align: left !important;">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px; text-align: left !important;">
            <span>
                {lblPremesseATTOView}
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px; text-align: left !important;">
            <span style="font-weight: bold;">
                {lblTipoAttoTitoloSoggettiATTOView}
            </span>
            <span>
                {ddlSoggettiInterrogatiATTOView}
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px; text-align: left !important;">
            <span>
                {lblRichiestaATTOView}
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px; text-align: left !important">
            <br />
            {lblAllegati}
        </td>
    </tr>
</table>