<div class="row">
    <div class="col s4 center">
        <img src='{urlLogo}' width='50' />
        <br>
        <h5>
            {nomePiattaforma}
            <span>
                <h6 style='margin: 2px'>IL CONSIGLIO</h6>
            </span>
        </h5>
    </div>
    <div class="col s4">

    </div>
    <div class="col s4 center">
        <h3><b>{LEGISLATURA}</b></h3>
        <h6>LEGISLATURA</h6>
    </div>
</div>

<div class="row">
    <div class="col s12 center">
        <h5>
            <b>INDICE</b>
        </h5>
    </div>
    <hr />
    {LISTA_LIGHT}
</div>