<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
</head>
<body>
<table style="width: 100%;">
    <tr>
        <td style="padding-bottom: 25px; text-align: center;">
            <img src="http://pem.consiglio.regione.lombardia.it/images/logoCRL.gif" style="width: 200px"/>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; text-align: center;">
            <b>{LEGISLATURA} LEGISLATURA</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; text-align: center;">
            <b>Atti Sindacato Ispettivo</b>
        </td>
    </tr>
    <tr>
        <td style="font-size: small; padding: 20px;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </td>
    </tr>
</table>
<table style="width: 100%;">
    <tr>
        <td style="padding: 20px; text-align: center;">
            <b>Indice</b>
        </td>
    </tr>
</table>
{LISTA_LIGHT}
</body>
</html>