<style>
    .bodyEMClass ul {
        padding-left: 30px !important;
        list-style-type: disc !important;
    }

        .bodyEMClass ul > li {
            list-style-type: disc !important;
        }
</style>



{ODG_RIFERIMENTO_COMMENTO_START}
<div class="row">
    <div class="col s12 center">
        <h5>
            Al <b>{lblTitoloPDLEMView}</b> "{lblSubTitoloPDLEMView}"
        </h5>
    </div>
</div>
{ODG_RIFERIMENTO_COMMENTO_END}

{TIPO_RISPOSTA_COMMENTO_START}
<div class="row">
    <div class="col s12 left-align">
        <span>
            <b>Tipo di risposta:</b> <i>{lblTipoRispostaATTOView}</i>
        </span>
    </div>
</div>
{TIPO_RISPOSTA_COMMENTO_END}

<div class="row">
    <div class="col s12 {DEFAULT_INTESTAZIONE_ALIGN}">
        <h6>
            <b>{DEFAULT_INTESTAZIONE}</b>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        <h6>
            <b>Oggetto: <span style="text-decoration: underline;">{lblSubTitoloATTOView}</span></b>
        </h6>
    </div>
</div>
{PROPONENTI_COMMENTO_START}
<div class="row">
    <div class="col s12 center">
        <span>
            {lblProponentiATTOView}
        </span>
    </div>
</div>
{PROPONENTI_COMMENTO_END}

{RELATORE1_COMMENTO_START}
<div class="row">
    <div class="col s12 left-align">
        <span>
            <b>Relatore primario:</b> <i>{RELATORE1}</i>
        </span>
    </div>
</div>
{RELATORE1_COMMENTO_END}

{RELATORE2_COMMENTO_START}
<div class="row">
    <div class="col s12 left-align">
        <span>
            <b>Relatore secondario:</b> <i>{RELATORE2}</i>
        </span>
    </div>
</div>
{RELATORE2_COMMENTO_END}

{RELATOREMINORANZA_COMMENTO_START}
<div class="row">
    <div class="col s12 left-align">
        <span>
            <b>Relatore minoranza:</b> <i>{RELATOREMINORANZA}</i>
        </span>
    </div>
</div>
{RELATOREMINORANZA_COMMENTO_END}
<div class="row">
    <div class="col s12 left-align">
        {lblPremesseATTOView}
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        {lblRichiestaATTOView}
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        {lblAllegati}
    </div>
</div>