{NOTE_PUBBLICHE_COMMENTO_START}
<div class="row">
    <div class="col s12 left">
        <div>
            <p style="padding-top: 10px">
                <b>Nota ufficio dei lavori assembleari: </b>
                {lblNotePubblicheATTOView}
            </p>
        </div>
    </div>
</div>
{NOTE_PUBBLICHE_COMMENTO_END}

<div class="row" style="margin: 0 !important">
    <div class="col s12 center">
        <h3>
            <b>{lblTitoloATTOView}</b>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col s12 center bodyEMClass">
        {ltATTOView}
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h6 class="green-text">
            <b>{lblDepositoATTOView}</b>
        </h6>
    </div>
    <div class="col s12">
        {radGridFirmeView}
        {radGridFirmePostView}
    </div>
</div>
{NOTEPRIV_COMMENTO_START}
<div class="row">
    <div class="col s12 red-text">
        <p>
            <b>Nota riservata:</b>
            {lblNotePrivateATTOView}
        </p>
    </div>
</div>
{NOTEPRIV_COMMENTO_END}