<!DOCTYPE html>
<html>
<body>
{MESSAGGIOINIZIALE}
<br/>
<br/>
<table style="border: 1px dotted gray; width: 80%;">
    <tr>
        <td style="text-align: left" colspan="2">
            <h5>&nbsp;</h5>
        </td>
    </tr>
    <tr>
        <td style="border-right: solid; border-right-color: #000000; border-right-width: 1px; vertical-align: bottom; width: 150px;">
            <label></label>
        </td>
        <td style="text-align: center; width: 100%;">
            <b>{lblTitoloATTOView}</b>
            <br/>
            <br/>
            <b>ATTO DI SINDACATO ISPETTIVO</b><br/>
            <p style="text-align: left">
                {ltATTOView}
            </p>
            <br/>
            <div style="padding: 10px">
                <div style="text-align: left; width: 100%;">
                    <h4>Firme</h4>
                </div>
                <div style="font-style: normal; text-align: left;">
                    {radGridFirmeView}
                </div>
            </div>
            <br/>
        </td>
    </tr>
</table>

<p>
    Collegati alla <a href="{LINKPEM}">piattaforma PEM</a> per {azione} questo emendamento.
    <br/>
    <br/>
    {LINKPEMRIEPILOGO}
    <br/>
    <br/>
    {LINKPEMRIEPILOGO_FIRME}
</p>

</body>
</html>