
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small">
                <i class="material-icons">menu</i>
            </a>
            <a asp-area="" asp-controller="Sedute" asp-action="RiepilogoSedute" class="brand-logo">
                <span class="hide-on-med-and-down black-text" style="font-weight: lighter;">Portale Demo</span>
            </a>
        </div>
        <div class="nav-content">
        </div>
    </nav>
</div>
