

<div id="slide-out" class="sidenav sidenav-fixed">
   <ul class="collapsible collapsible-accordion">
        
       <li class="menuItem_Home bold">
           <a class="waves-effect" href="@Url.Action("Index", "Mockup")"><i class="material-icons">home</i>Mockup</a>
       </li>
        
    </ul>
</div>