@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Response.EmendamentiViewModel
@if (!Model.Atto.Chiuso)
{
    <div id="btnComandiMassivi" class="fixed-action-btn" style="display: none">
        <a class="btn-floating btn-large pink tooltipped" data-tooltip="Comandi massivi" data-position="left">
            <i class="large material-icons">playlist_add</i>
        </a>
        <ul>
            @if (User.IsInRole(RuoliExt.Responsabile_Segreteria_Politica) || User.IsInRole(RuoliExt.Responsabile_Segreteria_Giunta))
            {
                if (Model.Mode != ClientModeEnum.TRATTAZIONE) // #808 Trattazione AULA: operazioni consentite
                {
                    <li>
                        <a id="btnDepositaMassivo" class="btn-floating purple darken-1 tooltipped" onclick="RevealMassivo(@Html.Raw((int)ActionEnum.DEPOSITA))" data-position="left" data-tooltip="Deposito massivo">
                            <i class="material-icons">lock</i>
                        </a>
                    </li>
                }
            }else if (User.IsInRole(RuoliExt.Consigliere_Regionale)
                || User.IsInRole(RuoliExt.Assessore_Sottosegretario_Giunta)
                || User.IsInRole(RuoliExt.Presidente_Regione))
            {
                <li>
                    <a id="btnFirmaMassivo" class="btn-floating green tooltipped" onclick="RevealMassivo(@Html.Raw((int) ActionEnum.FIRMA))" data-position="left" data-tooltip="Firma massiva">
                        <i class="material-icons">gavel</i>
                    </a>
                </li>
                <li>
                    <a id="btnDepositaMassivo" class="btn-floating purple darken-1 tooltipped" onclick="RevealMassivo(@Html.Raw((int) ActionEnum.DEPOSITA))" data-position="left" data-tooltip="Deposito massivo">
                        <i class="material-icons">lock</i>
                    </a>
                </li>
            }

            <li>
                <a id="btnInvitaMassivo" class="btn-floating amber tooltipped" onclick="RevealMassivo(@Html.Raw((int) ActionEnum.INVITA))" data-position="left" data-tooltip="Invito massivo">
                    <i class="material-icons">send</i>
                </a>
            </li>
            <li>
                <a class="btn-floating grey tooltipped" onclick="DeselectALLEM()" data-position="left" data-tooltip="Annulla">
                    <i class="material-icons">undo</i>
                </a>
            </li>
        </ul>
    </div>

    <div id="btnNuovoEM" class="fixed-action-btn" style="display: block">
        <a id="btnCreaEM" class="btn-floating btn-large blue darken-1 tooltipped" data-position="left" data-tooltip="Nuovo emendamento">
            <i class="large material-icons">add</i>
        </a>
    </div>
}