@using PortaleRegione.DTO.Enum
@using PortaleRegione.DTO.Model
@model PortaleRegione.DTO.Response.EmendamentiViewModel

@{ 
    Html.RenderPartial("_PaginationBar", Model.Data.Paging);
    Html.RenderPartial("_Command_RiepilogoEM", new CommandRiepilogoModel { view = Model.ViewMode, mode = Model.Mode, IsAdmin = Model.CurrentUser.IsSegreteriaAssemblea, Atto = Model.Atto });
}


<div class="row">
    @if (Model.ViewMode == ViewModeEnum.GRID)
    {
        if (Model.CurrentUser.IsSegreteriaAssemblea)
        {
            Html.RenderPartial("_GridView_Admin_RiepilogoEM", Model);
        }
        else
        {
            Html.RenderPartial("_GridView_RiepilogoEM", Model);
        }

    }
    else if (Model.ViewMode == ViewModeEnum.PREVIEW)
    {
        Html.RenderPartial("_ZoomView_RiepilogoEM", Model);
    }
</div>

@{
    Html.RenderPartial("_ConteggiGruppiPartial", Model);
    Html.RenderPartial("_ConteggiAreePolitichePartial", Model);
}