<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="Z.EntityFramework.Extensions" version="5.1.33" targetFramework="net48" />
  <package id="Z.EntityFramework.Plus.EF6" version="5.1.33" targetFramework="net48" />
  <package id="Z.Expressions.Eval" version="4.0.41" targetFramework="net48" />
</packages>