<div id="modalResetPassword" class="modal">
    <div class="modal-content">
        <h5>Attenzione</h5>
        <p>Sei sicuro di voler resettare la password di <b id="txtDisplayNamePersonaPassword"></b>?</p>
        <div class="form-group">
            <label>Inserisci nuova password</label>
            <input type="text" id="txtResetPassword" />
        </div>
        <div class="form-group">
            <label>Conferma password</label>
            <input type="text" id="txtResetPassword_Confirm" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modal-close grey">Annulla</button>
            <a id="btnResetPassword" class="btn red" href="#">RESET PASSWORD</a>
        </div>
    </div>
</div>