<div id="infoModal" class="modal">
	<div class="modal-content">
		<h4>Dettaglio ricerca</h4>
		<h5 id="modal-content"></h5>
		<input id="modal-filter-id-hidden" type="hidden" />
		<div id="dynamic-select-container"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat grey-text">Chiudi</a>
		<a id="addFiltersButton" class="btn-flat blue-text">Aggiungi</a>
	</div>
</div>