<div id="modalFiltroConfig" class="modal">
	<div class="modal-content">
		<h4>Filtro</h4>
		<div id="chips-container-config">

		</div>

		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Placeholder" id="filter_name" type="text" class="validate">
				<label for="first_name">Nome filtro</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<p>
					<label>
						<input id="filter_favourite" type="checkbox" />
						<span>Preferito</span>
					</label>
				</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a id="btnSalvaConfig" class="blue-text waves-effect waves-green btn-flat">Salva</a>
	</div>
</div>