<div id="modalReportConfig" class="modal">
    <div class="modal-content">
        <h4>Report</h4>
        <div id="chips-container-report-config">

        </div>

        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="report_name" type="text" class="validate">
                <label for="report_name">Nome report</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select>
                    <option value="" disabled selected>Scegli la copertina</option>
                    <option value="1">Copertina 1</option>
                    <option value="2">Copertina 2</option>
                    <option value="3">Copertina 3</option>
                </select>
                <label>Copertina</label>
            </div>
            <div class="input-field col s6">
                <select>
                    <option value="1" selected>GRIGLIA</option>
                    <option value="2">CARD</option>
                </select>
                <label>Visualizzazione dati</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select multiple>
                    <option value="" disabled selected>Scegli colonne</option>
                    <option value="1">Colonna 1</option>
                    <option value="2">Colonna 2</option>
                    <option value="3">Colonna 3</option>
                </select>
                <label>Colonne da visualizzare</label>
            </div>
            <div class="input-field col s6">
                <select>
                    <option value="1" selected>WORD</option>
                    <option value="2">PDF</option>
                </select>
                <label>Formato esportazione</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="btnGenerateReport" class="btn pink-text waves-effect waves-green btn-flat">Genera report</a>
    </div>
</div>

<script>
    
	document.getElementById('btnReportConfig').addEventListener('click', function () {
		openModalWithContent_Report("", localStorage.getItem('filtriDasi'));
	});
    
	document.getElementById('btnGenerateReport').addEventListener('click', function () {
		
	});
    
	function openModalWithContent_Report(name, filters) {
		$('#report_name').val(name);
		$('#chips-container-report-config').empty();
		const filtri = JSON.parse(filters);
		if (filtri) {
			filtri.forEach(function (filtro) {
				addChipReportConfig(filtro.chipText);
			});
		}
		$('#modalReportConfig').modal("open");
	}
    
	function addChipReportConfig(chipText) {
		var chipsContainer = document.getElementById('chips-container-report-config');
		var newChip = document.createElement('div');
		newChip.classList.add('chip', 'yellow', 'black-text');
		newChip.textContent = chipText;

		chipsContainer.appendChild(newChip);
	}

</script>