<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortaleRegione.BAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PortaleRegione.BAL.Properties.Settings>
            <setting name="PortaleRegione_BAL_OpenData_UpsertOpenData" serializeAs="String">
                <value>https://intranet.consiglio.regione.lombardia.it/OpenData/upsertopendata.asmx</value>
            </setting>
            <setting name="PortaleRegione_BAL_proxyAd_proxyAD" serializeAs="String">
                <value>https://intranet.consiglio.regione.lombardia.it/proxyad/proxyad.asmx</value>
            </setting>
        </PortaleRegione.BAL.Properties.Settings>
    </applicationSettings>
</configuration>