@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

@if (Model.Atto.Tipo == (int)TipoAttoEnum.ODG)
{
    <div class="row">
        <div class="col s12 form-group">
            <label>Atto: </label>
            <select id="Atto_ODG">
            </select>
            <div class="row" id="pnlODGVuoto" style="display: none;">
                <div class="col s12">
                    <div class="card-panel panel-warning center">
                        <span class="center">
                            <p>Non ci sono atti al momento</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(async function() {
            var atti = await GetAttiSeduteAttive();
            console.log(atti)
            if (atti.length > 0) {
                var select = $("#Atto_ODG");
                select.empty();
                $('#pnlODGVuoto').hide();
                $.each(atti,
                    function (index, item) {
                        var template = "";
                        if (item.UIDAtto == '@Html.Raw(Model.Atto.UID_Atto_ODG)')
                        {
							if (item.BloccoODG) {
								template = "<option selected='selected' disabled></option>";
                            } else {
								template = "<option selected='selected'></option>";
                            }
                            
                        }
                        else
                        {
							if (item.BloccoODG) {
								template = "<option disabled></option>";
							} else {
								template = "<option></option>";
							}
                        }
                        // #665 - matcat - Selezione PDL da abbinare all'odg con oggetto
                        var body = item.NAtto + " - " + item.Oggetto;
                        if (item.BloccoODG) {
							body = "[BLOCCO ODG ATTIVO] " + body;
                        }
                        select.append($(template).val(item.UIDAtto).html(body));
                    });

                var elems = document.querySelectorAll("#Atto_ODG");
                M.FormSelect.init(elems, null);
            }
            else{
				$('#pnlODGVuoto').show();
            }
        });
    </script>
}
