@{
    ViewBag.Title = "Mockup";
}

<ul class="collection">
    <li class="collection-item"><a class="waves-effect" href="@Url.Action("ViewAtto", "Mockup")"><i class="material-icons">home</i>View Atto</a></li>
    <li class="collection-item"><a class="waves-effect" href="@Url.Action("SessionViewerAdmin", "Mockup")"><i class="material-icons">home</i>Monitoraggio Sessioni Admin</a></li>
</ul>