<table>
    <thead>
    <tr>
        <th>Utente</th>
        <th>Data inizio</th>
        <th>Data chiusura</th>
        <th>Stato</th>
        <th>Chiusura corretta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Alvin Giorgetti</td>
        <td>20/11/2023 10.00</td>
        <td></td>
        <td>
			<div class="btn chip hoverable green lighten-1 center white-text">Attivo</div>
        </td>
		<td>
			<p>
				<label>
					<input type="checkbox" />
					<span></span>
				</label>
			</p>
		</td>
    </tr>
    <tr>
        <td>Pino Sorrenti</td>
        <td>20/11/2023 7.00</td>
		<td>20/11/2023 10.00</td>
        <td>
            <div class="btn chip hoverable black center white-text tooltipped" data-tooltip="Chiusura automatica per inattività">Chiuso</div>
        </td>
        <td>
            <p>
                <label>
                    <input type="checkbox"/>
                    <span></span>
                </label>
            </p>
        </td>
    </tr>
    <tr>
        <td>Jonathan Angeli</td>
		<td>20/11/2023 10.00</td>
        <td>20/11/2023 10.16</td>
        <td><div class="btn chip hoverable red lighten-1 center white-text">Chiuso</div></td>
        <td>
            <p>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span></span>
                </label>
            </p>
        </td>
    </tr>
    </tbody>
</table>