<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2">
                <a class="active" href="#atto">Atto</a>
            </li>
            <li class="tab col s2">
                <a href="#info">Informazioni generali</a>
            </li>
            <li class="tab col s2">
                <a href="#risposta">Informazioni risposta</a>
            </li>
            <li class="tab col s2">
                <a href="#iter">Chiusura Iter</a>
            </li>
            <li class="tab col s2">
                <a href="#monitoring">Monitoraggio</a>
            </li>
            <li class="tab col s2">
                <a href="#privacy">Privacy</a>
            </li>
        </ul>
    </div>
    <div id="atto" class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-action grey lighten-4 center">
                        <div class="chip trattazioneT white-text" style="min-width: unset; position: absolute; right: 10px; top: -18px;">In trattazione</div>
                        <h6>
                            <b>
                                <span>PARTITO DEMOCRATICO DELLA LOMBARDIA </span>
                            </b>
                        </h6>
                    </div>
                    <div class="card-content">

                        <div class="row">
                            <div class="col s6 left">
                            </div>
                            <div class="col s6 right-align">
                                <label style="font-size: small !important">Proponente: </label>
                                <br>
                                <b>PIZZUL Fabio</b>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s12 center bodyEMClass">
                                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"><link rel="stylesheet" href="https://pem1.consiglio.regione.lombardia.it/content/site.css">
                                <style>
                                    .bodyEMClass ul {
                                        list-style-type: disc !important;
                                        padding-left: 30px !important;
                                    }

                                    .bodyEMClass ul > li { list-style-type: disc !important; }
                                </style>

                                <div class="row" style="margin: 0 !important">
                                    <div class="col s12 center">
                                        <h4>
                                            <b>ITL 4013</b>
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center bodyEMClass">
                                        <style>
                                            .bodyEMClass ul {
                                                list-style-type: disc !important;
                                                padding-left: 30px !important;
                                            }

                                            .bodyEMClass ul > li { list-style-type: disc !important; }
                                        </style>

                                        <div class="row">
                                            <div class="col s12 left-align">
                                                <span>
                                                    <b>Tipo di risposta:</b> <i>Orale</i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s12 right-align">
                                                <h6>
                                                    <b>Al Presidente del Consiglio regionale della Lombardia</b>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 left-align">
                                                <h6>
                                                    <b>Oggetto: <span style="text-decoration: underline;">Oggetto esplicativo, chiaro e senza dati personali</span></b>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 left-align">
                                                <p>PREMESSO CHE</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 left-align">
                                                <p>
                                                    <strong>INTERPELLA&nbsp;</strong><strong>L'</strong><strong>ASSESSORI COMPETENTI</strong>
                                                </p>&nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 left-align">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="pnlStandardFirme">
                            <div class="col s12">

                                <ul class="collection">
                                    <li class="collection-header">
                                        <h6 style="margin-left: 10px">Firmatari</h6>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>PIZZUL Fabio (PD)</b><br><label>firmato il </label>20/04/2023</div>
                                    </li>
                                </ul>

                                <label class="black-text">
                                    <b>Atto presentato il 20/04/2023 10:42:33</b>
                                </label>

                                <ul class="collection">
                                    <li class="collection-header">
                                        <h6 style="margin-left: 10px">Firmatari dopo la presentazione</h6>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>ASTUTI Samuele (PD)</b><br><label>firmato il </label>04/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>GIRELLI Gian Antonio (PD)</b><br><label>firmato il </label>04/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>BOCCI Paola (PD)</b><br><label>firmato il </label>04/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>VILLANI Giuseppe (PD)</b><br><label>firmato il </label>04/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>CORBETTA Alessandro (LEGA)</b><br><label>firmato il </label>04/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>BORGHETTI Carlo (PD)</b><br><label>firmato il </label>19/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>BUSSOLATI Pietro (PD)</b><br><label>firmato il </label>19/05/2023</div>
                                    </li>
                                    <li class="collection-item with-header">
                                        <div><b>ROZZA Maria (PD)</b><br><label>firmato il </label>19/05/2023</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="info" class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<select disabled="disabled">
					<option value="">Choose your option</option>
					<option value="1" selected="selected">ITL</option>
					<option value="2">ITR</option>
					<option value="3">IQT</option>
					<option value="4">MOZ</option>
					<option value="5">ODG</option>
				</select>
				<label>Tipo</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="" id="nAtto" type="text" value="4013" readonly="readonly">
				<label for="nAtto">Numero atto</label>
			</div>
			<div class="input-field col s12">
				<select>
					<option value="">Choose your option</option>
					<option value="1" selected="selected">Presentato</option>
					<option value="2">In trattazione</option>
					<option value="3">Chiuso concluso</option>
				</select>
				<label>Stato</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="" id="protocollo" type="text" value="2023/XII.2.6.1.17">
				<label for="protocollo">Protocollo</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="" id="materia" type="text" value="3.1">
				<label for="materia">Codice materia</label>
			</div>
			<div class="input-field col s12">
				<textarea id="oggetto" class="materialize-textarea">lorem ipsum</textarea>
				<label for="oggetto">Oggetto</label>
			</div>
			<div class="input-field col s12">
				<select>
					<option value="">Choose your option</option>
					<option value="1" selected="selected">Orale</option>
					<option value="2">Scritto</option>
					<option value="3">In commissione</option>
				</select>
				<label>Risposta richiesta</label>
			</div>
			<div class="input-field col s12">
				<select>
					<option value="">Choose your option</option>
					<option value="1" selected="selected">Maggioranza</option>
					<option value="2">Misto</option>
					<option value="3">Maggioranza</option>
				</select>
				<label>Area</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="" id="data_presentazione" type="text" value="11/11/2023 12:00">
				<label for="data_presentazione">Data presentazione</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="" id="data_annunzio" type="text" value="15/11/2023 12:00">
				<label for="data_annunzio">Data annunzio</label>
			</div>
			<div class="input-field col s12">
				<div class="switch">
					<label>
						Privato
						<input type="checkbox">
						<span class="lever"></span>
						Pubblicato
					</label>
				</div>
			</div>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light right">Aggiungi nota
                    <i class="material-icons left">add</i>
                </button>
                <table>
                    <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>12/11/2023 10:15</td>
                        <td><i class="material-icons red-text left">close</i>Rimuovi</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum 2</td>
                        <td>12/11/2023 10:20</td>
                        <td><i class="material-icons red-text left">close</i>Rimuovi</td>
                    </tr>
                    </tbody>
                </table>
            </div>
		</div>
    </div>
    <div id="risposta" class="col s12">Test 3</div>
    <div id="iter" class="col s12">Test 4</div>
    <div id="monitoring" class="col s12">Test 4</div>
    <div id="privacy" class="col s12">Test 4</div>
</div>