.user-view {
    background-color: #469b49 !important;
}

.nav-wrapper {
    background-color: #469b49 !important;
}

.page-footer {
    background-color: #469b49 !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: black !important;
    background-color: #469b49 !important;
}

.tabs .tab a {
    color: black !important;
    background-color: white !important;
    border: solid 2px #1b5e20;
}

.tabs .indicator {
    background-color: #1b5e20 !important;
}

.sidenav li.active {
    background-color: #fcfefc;
    border-bottom: solid #1b5e20;
    border-width: .05em;
}