.user-view {
    background-color: #C8E6C9 !important;
}

.nav-wrapper {
    background-color: #C8E6C9 !important;
}

.page-footer {
    background-color: #C8E6C9 !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: white !important;
    background-color: #a5d6a7 !important;
}

.tabs .tab a {
    color: #a5d6a7 !important;
    background-color: white !important;
    border: solid 1px #a5d6a7;
}

.tabs .indicator {
    background-color: #4CAF50 !important;
}

.sidenav li.active {
    background-color: #fcfefc;
    border-bottom: solid rgba(76, 175, 80, 0.8);
    border-width: .05em;
}