USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[AREAPOLITICA]    Script Date: 13/05/2022 10:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAPOLITICA](
	[Id] [int] NULL,
	[AreaPolitica] [varchar](50) NULL
) ON [PRIMARY]
GO
