USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[PINS]    Script Date: 12/09/2020 18:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PINS](
	[UIDPIN] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UID_persona] [uniqueidentifier] NOT NULL,
	[PIN] [varchar](255) NOT NULL,
	[Dal] [datetime] NOT NULL,
	[Al] [datetime] NULL,
	[FIRMA_e_DEPOSITO] [bit] NOT NULL,
	[RichiediModificaPIN] [bit] NOT NULL,
 CONSTRAINT [PK_PINS] PRIMARY KEY CLUSTERED 
(
	[UIDPIN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PINS] ADD  CONSTRAINT [DF_PINS_UIDPIN]  DEFAULT (newsequentialid()) FOR [UIDPIN]
GO
ALTER TABLE [dbo].[PINS] ADD  CONSTRAINT [DF_PINS_Dal]  DEFAULT (getdate()) FOR [Dal]
GO
ALTER TABLE [dbo].[PINS] ADD  CONSTRAINT [DF_PINS_FIRMA_e_DEPOSITO]  DEFAULT ((1)) FOR [FIRMA_e_DEPOSITO]
GO
ALTER TABLE [dbo].[PINS] ADD  CONSTRAINT [DF_PINS_RichiediModificaPIN]  DEFAULT ((0)) FOR [RichiediModificaPIN]
GO
