USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[TITOLI_MISSIONI]    Script Date: 12/09/2020 18:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITOLI_MISSIONI](
	[NTitoloB] [int] NOT NULL,
	[Descrizione] [nvarchar](150) NULL
) ON [PRIMARY]
GO
