USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[PARTE_LR]    Script Date: 12/09/2020 18:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARTE_LR](
	[UIDParte_LR] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UIDLettera] [uniqueidentifier] NULL,
	[RifParte_LR] [varchar](250) NULL,
	[Parte_LR] [varchar](50) NULL,
	[TestoParte_LR] [varchar](max) NULL,
	[Ordine] [int] NOT NULL,
 CONSTRAINT [PK_PARTE_LR] PRIMARY KEY CLUSTERED 
(
	[UIDParte_LR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PARTE_LR] ADD  CONSTRAINT [DF_PARTE_LR_UIDParte_LR]  DEFAULT (newsequentialid()) FOR [UIDParte_LR]
GO
ALTER TABLE [dbo].[PARTE_LR] ADD  CONSTRAINT [DF_PARTE_LR_Ordine]  DEFAULT ((0)) FOR [Ordine]
GO
