USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[TIPI_ATTO]    Script Date: 12/09/2020 18:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPI_ATTO](
	[IDTipoAtto] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Atto] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TIPI_ATTO] PRIMARY KEY CLUSTERED 
(
	[IDTipoAtto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
