USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[MISSIONI]    Script Date: 13/05/2022 10:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISSIONI](
	[UIDMissione] [uniqueidentifier] NOT NULL,
	[NMissione] [int] NOT NULL,
	[DAL] [date] NOT NULL,
	[AL] [date] NULL,
	[Desccrizione] [varchar](250) NOT NULL,
	[Ordine] [int] NOT NULL,
 CONSTRAINT [PK_MISSIONI_1] PRIMARY KEY CLUSTERED 
(
	[UIDMissione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MISSIONI] ADD  CONSTRAINT [DF_MISSIONI_UID_Missione]  DEFAULT (newid()) FOR [UIDMissione]
GO
