USE [dbEmendamenti]
GO
/****** Object:  Table [dbo].[RUOLI_UTENTE]    Script Date: 13/05/2022 10:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUOLI_UTENTE](
	[UID_ruolo_utente] [uniqueidentifier] NOT NULL,
	[UID_persona] [uniqueidentifier] NOT NULL,
	[IDruolo] [int] NOT NULL,
 CONSTRAINT [PK_RUOLI_UTENTE] PRIMARY KEY CLUSTERED 
(
	[UID_ruolo_utente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
