@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
<div id="pnlNuovoDASI" class="fixed-action-btn" style="display: block">
    <a id="btnNuovoDASI" class="btn-floating btn-large blue darken-1">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating  @Html.Raw(TipoAttoCSSConst.ITL)" href="@Url.Action("NuovoCartaceo", new {tipo = (int) TipoAttoEnum.ITL})">@Utility.GetText_TipoDASI((int)TipoAttoEnum.ITL)</a>
        </li>
    </ul>
</div>


<script>

    function ModificaMetaDASI(tipo) {
        openFormDASI(tipo, true);
    }

    function AbilitaComandiMassivi_DASI(uidAtto) {
        if (uidAtto) {
            var chk = $("#chk_Atto_" + uidAtto);
            var selezionaTutti = getSelezionaTutti_DASI();
            console.log("SEL.TUTTI", selezionaTutti);
            if (chk[0].checked) {
                if (selezionaTutti) {
                    removeAtto(uidAtto); //listaEsclusiva
                } else {
                    addAtto(uidAtto); //listaInsclusiva
                }
            } else {
                if (selezionaTutti) {
                    addAtto(uidAtto); //listaEsclusiva
                } else {
                    removeAtto(uidAtto); //listaInsclusiva
                }
            }
        }

        var lchk = getListaAtti();

        if (lchk.length > 0 || $("#checkAll")[0].checked) {
            $("#btnComandiMassivi").show();
            $("#pnlNuovoDASI").hide();
        } else {
            $("#btnComandiMassivi").hide();
            $("#pnlNuovoDASI").show();
        }
    }

    $("#checkAll").click(function() {
        setSelezionaTutti_DASI(this.checked);
        setListaAtti([]);
        $('input[id^="chk_Atto_"]').not(this).prop('checked', this.checked);
        AbilitaComandiMassivi_DASI(null);
    });

    function resetGridSelection() {
        $("#checkAll").prop("checked", false);
        $('input[id^="chk_Atto_"]').not(this).prop("checked", false);
        setSelezionaTutti_DASI(false);
        setListaAtti([]);
        AbilitaComandiMassivi_DASI(null);
    }
</script>