@using PortaleRegione.Client.Helpers
<div id="modalGeasiView" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: unset!important">
            <div class="col s12 right-align">
                <i class="icon material-icons modal-close">close</i>
                <hr/>
            </div>
            
            <div class="col s12 center-align" style="padding-bottom: 10px">
                <h5 id="modalGeasiView_Atto"></h5>
            </div>
            <div class="col s12 center-align" style="padding-bottom: 10px">
                <h6 id="modalGeasiView_Oggetto"></h6>
            </div>
            <ul class="collection">
                <li class="collection-item">
                    <label style="font-weight: bold">Data Presentazione: </label>
                    <label id="Geasi_DataPresentazione"></label>
                </li>
                <li class="collection-item">
                    <label style="font-weight: bold">Area: </label>
                    <label id="Geasi_Area"></label>
                </li>
                <li class="collection-item">
                    <label style="font-weight: bold">Consigliere primo firmatario: </label>
                    <label id="Geasi_PrimoFirmatario"></label>
                </li>
                <li class="collection-item">
                    <label style="font-weight: bold">Data di annunzio: </label>
                    <label id="Geasi_Annunzio"></label>
                </li>
                <li class="collection-item">
                    <label style="font-weight: bold">Tipo di risposta richiesta: </label>
                    <label id="Geasi_TipoRichiesta"></label>
                </li>
                <li class="collection-item">
                    <label style="font-weight: bold">Tipo di risposta fornita: </label>
                    <label id="Geasi_TipoRisposta"></label>
                </li>
                <li class="collection-item">
                    <label style="font-weight: bold">Stato iter: </label>
                    <label id="Geasi_Stato"></label>
                </li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col s12">
                <a id="Geasi_LINK" href="" target="_blank">
                    Consulta la banca dati GeASI online
                </a>
            </div>
        </div>
    </div>
</div>

<script>

   async function goToGeasi(uidAtto, tipoatto, natto, idlegislatura) {
        try {
            waiting(true);
            var res = await SearchPublicApi(uidAtto);
            var response = JSON.parse(res);
            console.log("res", response);

            var title = tipoatto + " N. " + natto;
            $('#modalGeasiView_Atto').text(title);
            $('#modalGeasiView_Oggetto').text(response.oggetto);
            $('#Geasi_DataPresentazione').text(response.data_presentazione);
            $('#Geasi_Area').text(response.area_politica);       // Assicurati che il campo sia presente nella response
            $('#Geasi_Annunzio').text(response.data_annunzio);
            $('#Geasi_TipoRichiesta').text(response.tipo_risposta_richiesta);
            $('#Geasi_TipoRisposta').text(response.tipo_risposta_fornita);
            $('#Geasi_Stato').text(response.stato + " - " + response.stato_iter);

            // Se il tipo atto è RIS, nascondiamo il terzo elemento della collection,
            // altrimenti lo mostriamo e impostiamo il testo
            if (tipoatto === "RIS") {
                $('#Geasi_PrimoFirmatario').closest("li.collection-item").hide();
            } else {
                $('#Geasi_PrimoFirmatario').closest("li.collection-item").show();
                // Imposta il valore del primo firmatario se presente nella response
                if (response.firme && response.firme.length > 0) {
                    $('#Geasi_PrimoFirmatario').text(response.firme[0].firmaCert);
                }
            }
        } catch (e) {
            console.log(e);
        }
        waiting(false);
        $('#Geasi_LINK').attr("href", "@AppSettingsConfiguration.URL_WEB_PUBLIC_CLIENT?tipoatto=" + tipoatto + "&numeroatto=" + natto + "&idlegislatura=" + idlegislatura);
        $('#modalGeasiView').modal("open");
    }

    
    function SearchPublicApi(uidAtto) {
        var url = "public/web/" + uidAtto;
        console.log(url)
        return new Promise(async function (resolve, reject) {
            $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json" // Assicuriamoci che la risposta venga interpretata come JSON
                })
                .done(function (result) {
                    // Se il risultato contiene una proprietà 'message' che include "Error"
                    if (result && result.message && result.message.indexOf("Error") !== -1) {
                        // Chiamiamo il metodo Error() passandogli il messaggio
                        ErrorAlert(result.message);
                        // Rifiutiamo la promise
                        reject(result.message);
                    } else {
                        // Altrimenti, risolviamo la promise con il risultato
                        resolve(result);
                    }
                })
                .fail(function (err) {
                    console.log("error", err);
                    // Rifiutiamo la promise in caso di errore AJAX
                    reject(err);
                });
        });
    }
</script>