<!-- Modal Structure -->
<div id="modalIscriviSeduta" class="modal bottom-sheet">
    <div class="modal-content">
        <input type="hidden" id="hfUidAtto">
        <h4 id="txtIscriviSeduta"></h4>
        <ul class="collection with-header" id="lstSeduteAttive">
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="btnIscriviSeduta_Salva">Iscrivi</a>
    </div>
</div>

<script>
    var sedute = [];
    $(window).on('load',
        async function() {
            if (sedute.length == 0) {
                $('#modalIscriviSeduta>div>ul').empty();
                var data = await GetSeduteAttive();
                sedute = data.Results;
                var checked = sedute.length == 1;
				console.log("SEDUTE ATTIVE", sedute)
                $.each(sedute,
                    function(i, item) {
                        var resultDate = GetFormattedDate(item.Data_seduta);
                        var text = "Seduta del " + resultDate;
                        $('#modalIscriviSeduta>div>ul').append(templateSeduteAttive
                            .replace("{TEXT}", text)
                            .replace("{VALUE}", item.UIDSeduta)
                            .replace("{CHECKED}", checked ? "checked='checked'" : ""));
                    });
            }
        });

    function RimuoviSedutaDASI(uidAtto, nomeAtto) {

        swal({
            title: "Rimozione atto dalla seduta",
            text: "Sei sicuro di voler rimuovere " + nomeAtto + " dalla seduta associata?",
            icon: "warning",
            buttons: ["Annulla", "Rimuovi"],
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                var listaAtti = [];

                listaAtti.push(uidAtto);

                var obj = {};
                obj.Lista = listaAtti;

                $.ajax({
                    url: '@Url.Action("RimuoviSeduta")',
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(data) {
                    $("#modalRimuoviSeduta").modal("close");
                    $("#btnRimuoviSeduta_Salva").off("click");
                    console.log(data.message);
                    if (data.message) {
                        swal({
                            title: "Errore",
                            text: data.message,
                            icon: "error"
                        });
                    } else {
                        go(data);
                    }
                }).fail(function(err) {
                    console.log("error", err);
                    Error(err);
                });
            }
        });
    }

    function IscriviASedutaMassivoDASI() {
        var text = "";
        var listaAtti = [];
        const selectedCheckboxes = document.querySelectorAll('input[type="checkbox"][id^="chk_Atto_"]:checked');
        // Itera sui checkbox selezionati
        selectedCheckboxes.forEach(checkbox => {
            // Trova la riga padre del checkbox
            const row = checkbox.closest('tr');
            const displayColumn = row.querySelector('td:nth-child(2) .chip');

            if (displayColumn) {
                const displayId = displayColumn.getAttribute('data-id');
                listaAtti.push(displayId);
            }
        });
        
		var text_counter = listaAtti.length;
        text = "Iscrivi in una delle seguenti sedute:";

        $('#txtIscriviSeduta').html(text);
        $('#btnNuovaSedutaDASI').show();
        $('#dtSeduta').hide();
        $('#dtSeduta').val("");
        $('#btnIscriviSeduta_Salva').text("Iscrivi");
        $('#btnIscriviSeduta_Salva').off("click");
        $("#btnIscriviSeduta_Salva").on("click",
            function() {

                if ($('input[name="gruppoSeduteAttive"]:checked').length == 0) {
                    swal({
                        title: "Errore",
                        text: "Seleziona almeno una seduta dove iscrivere l'atto " + nomeAtto,
                        icon: "error"
                    });
                    return;
                }

                var checkSelezionaTutti = $("#checkAll")[0].checked;
                var totaleRisultati = $(".pagination").data("totale-risultati");
                var uidSeduta = $('input[name="gruppoSeduteAttive"]:checked')[0].value;
                
                swal({
                    title: "Conferma iscrizione seduta",
                    text: "Scegli l'ambito di applicazione per l'iscrizione:",
                    icon: "info",
                    buttons: {
                        cancel: "Annulla",
                        tutti: checkSelezionaTutti ? {
                            text: `Tutti (${totaleRisultati} atti)`,
                            value: "tutti",
                            className: "amber"
                        }: null,
                        griglia: {
                            text: `Griglia (${text_counter} atti)`,
                            value: "griglia",
                            className: "blue"
                        }
                    }
                }).then(async (value) => {
                    if (value === "griglia") {
                        // Flusso normale - solo atti selezionati in griglia
                        
                        await IscrizioneASedutaMassivoDASISoloIds(uidSeduta, listaAtti);
                    } else if (value === "tutti") {
                        // Nuovo flusso - tutti gli atti con progress modal
                        var totalePagine = $(".pagination").data("totale-pagine");
                        await aprireModalProgresso(2, uidSeduta, totalePagine, totaleRisultati);
                    }
                });
            });
        $('#modalIscriviSeduta').modal("open");
    }

    function IscriviSedutaDASI(uidAtto, nomeAtto) {
        $('#hfUidAtto').val(uidAtto);
        $('#btnNuovaSedutaDASI').show();
        $('#dtSeduta').hide();
        $('#dtSeduta').val("");
        $('#txtIscriviSeduta').html("Iscrivi <b>" + nomeAtto + "</b> ad una delle seguenti sedute");
        $('#btnIscriviSeduta_Salva').text("Iscrivi");
        $('#btnIscriviSeduta_Salva').off("click");
        $("#btnIscriviSeduta_Salva").on("click",
            function() {

                if ($('input[name="gruppoSeduteAttive"]:checked').length == 0) {
                    swal({
                        title: "Errore",
                        text: "Seleziona almeno una seduta dove iscrivere l'atto " + nomeAtto,
                        icon: "error"
                    });
                    return;
                }

                var listaAtti = [];

                listaAtti.push(uidAtto);

                var obj = {};
                obj.UidSeduta = $('input[name="gruppoSeduteAttive"]:checked')[0].value;
                obj.Lista = listaAtti;

                $.ajax({
                    url: '@Url.Action("IscriviSeduta")',
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(data) {
                    $("#modalIscriviSeduta").modal("close");
                    $("#btnIscriviSeduta_Salva").off("click");
                    console.log(data.message);
                    if (data.message) {
                        swal({
                            title: "Errore",
                            text: data.message,
                            icon: "error"
                        });
                    } else {
                        go(data);
                    }
                }).fail(function(err) {
                    console.log("error", err);
                    Error(err);
                });
            });
        $('#modalIscriviSeduta').modal("open");
    }

</script>