

<div id="modalMetaDati" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row" style="margin: unset !important">
            <div class="col l6 left-align">
                <h5 style="margin: unset !important">
                    Meta Dati
                    <b>
                        <span id="NAtto">N_ATTO</span>
                    </b>
                </h5>
            </div>
            <div class="col l6 right-align">
                <a id="btnSalvaMetaDatiPartial" href="#!" class="waves-effect waves-green btn-flat green-text" style="font-weight: bold;">Salva</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Chiudi</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <ul id="dasiFormsTabs" class="tabs tabs-fixed-width">
                    <li class="tab col s3">
                        <a class="active" href="#metaDatiOggetto">Oggetto</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#metaDatiPremesse">Premesse</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#metaDatiRichiesta">Richiesta</a>
                    </li>
                </ul>
                <div id="metaDatiOggetto" class="col s12 left-align">
                    <div class="form-group">
                        <label>Oggetto</label>
                        <span style="display: flex">
                            <p>
                                <label>
                                    <input name="Oggetto" type="radio" value="0"/>
                                    <span>Oggetto Originale</span>
                                </label>
                            </p>
                            <p style="padding-left: 10px">
                                <label>
                                    <input name="Oggetto" type="radio" value="1"/>
                                    <span>Oggetto Modificato</span>
                                </label>
                            </p>
                        </span>
                        <textarea id="EditorOggetto" class="form-control trumbowyg"></textarea>
                    </div>
                </div>
                <div id="metaDatiPremesse" class="col s12 left-align">
                    <div class="form-group">
                        <label>Premesse</label>
                        <span style="display: flex">
                            <p>
                                <label>
                                    <input name="Premesse" type="radio" value="0"/>
                                    <span>Premesse Originale</span>
                                </label>
                            </p>
                            <p style="padding-left: 10px">
                                <label>
                                    <input name="Premesse" type="radio" value="1"/>
                                    <span>Premesse Modificato</span>
                                </label>
                            </p>
                        </span>
                        <textarea id="EditorPremesse" class="form-control trumbowyg"></textarea>
                    </div>
                </div>
                <div id="metaDatiRichiesta" class="col s12 left-align">
                    <div class="form-group">
                        <label>Richiesta</label>
                        <span style="display: flex">
                            <p>
                                <label>
                                    <input name="Richiesta" type="radio" value="0"/>
                                    <span>Richiesta Originale</span>
                                </label>
                            </p>
                            <p style="padding-left: 10px">
                                <label>
                                    <input name="Richiesta" type="radio" value="1"/>
                                    <span>Richiesta Modificato</span>
                                </label>
                            </p>
                        </span>
                        <textarea id="EditorRichiesta" class="form-control trumbowyg"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    async function LoadMetaDatiAtto(atto) {
        await SetupMetaDati(atto);

        var container_oggetto = $('#EditorOggetto').parent();
        var editor_oggetto = $(container_oggetto).find(".trumbowyg-editor");
        var container_premesse = $('#EditorPremesse').parent();
        var editor_premesse = $(container_premesse).find(".trumbowyg-editor");
        var container_richiesta = $('#EditorRichiesta').parent();
        var editor_richiesta = $(container_richiesta).find(".trumbowyg-editor");

        //EVENTI TESTO
        var carica_oggetto = true;
        $('#EditorOggetto').parent().keyup(function () {
            if (carica_oggetto) {
                if ($("input[type=radio][name='Oggetto']:checked").val() == 0) {
                    carica_oggetto = false;
                    $("input[type=radio][name='Oggetto']:not(:checked)").click();
                }
            }
        });
        $("input[type=radio][name='Oggetto']").change(function () {
            if (carica_oggetto) {
                if (this.value == 0) {
                    editor_oggetto.html(atto.Oggetto);
                    $('#metaDatiOggetto> .form-group > p').hide();
                } else if (this.value == 1) {
                    if (atto.Oggetto_Modificato == null || atto.Oggetto_Modificato == "")
                        editor_oggetto.html(atto.Oggetto);
                    else
                        editor_oggetto.html(atto.Oggetto_Modificato);
                    $('#metaDatiOggetto> .form-group > p').show();
                }
            } else {
                if (this.value == 0) {
                    $('#metaDatiOggetto> .form-group > p').hide();
                    editor_oggetto.html(atto.Oggetto);
                    carica_oggetto = true;
                } else {
                    $('#metaDatiOggetto> .form-group > p').show();
                }
            }
        });
        var carica_premesse = true;
        $('#EditorPremesse').parent().keyup(function () {
            if (carica_premesse) {
                if ($("input[type=radio][name='Premesse']:checked").val() == 0) {
                    carica_premesse = false;
                    $("input[type=radio][name='Premesse']:not(:checked)").click();
                }
            }
        });
        $("input[type=radio][name='Premesse']").change(function () {
            if (carica_premesse) {
                if (this.value == 0) {
                    editor_premesse.html(atto.Premesse);
                    $('#metaDatiPremesse> .form-group > p').hide();
                } else if (this.value == 1) {
                    if (atto.Premesse_Modificato == null || atto.Premesse_Modificato == "")
                        editor_premesse.html(atto.Premesse);
                    else
                        editor_premesse.html(atto.Premesse_Modificato);
                    $('#metaDatiPremesse> .form-group > p').show();
                }
            } else {
                if (this.value == 0) {
                    $('#metaDatiPremesse> .form-group > p').hide();
                    editor_premesse.html(atto.Premesse);
                    carica_premesse = true;
                } else {
                    $('#metaDatiPremesse> .form-group > p').show();
                }
            }
        });
        var carica_richiesta = true;
        $('#EditorRichiesta').parent().keyup(function () {
            if (carica_richiesta) {
                if ($("input[type=radio][name='Richiesta']:checked").val() == 0) {
                    carica_richiesta = false;
                    $("input[type=radio][name='Richiesta']:not(:checked)").click();
                }
            }
        });
        $("input[type=radio][name='Richiesta']").change(function () {
            if (carica_richiesta) {
                if (this.value == 0) {
                    editor_richiesta.html(atto.Richiesta);
                    $('#metaDatiRichiesta> .form-group > p').hide();
                } else if (this.value == 1) {
                    if (atto.Richiesta_Modificata == null || atto.Richiesta_Modificata == "")
                        editor_richiesta.html(atto.Richiesta);
                    else
                        editor_richiesta.html(atto.Richiesta_Modificata);
                    $('#metaDatiRichiesta> .form-group > p').show();
                }
            } else {
                if (this.value == 0) {
                    $('#metaDatiRichiesta> .form-group > p').hide();
                    editor_richiesta.html(atto.Richiesta);
                    carica_richiesta = true;
                } else {
                    $('#metaDatiRichiesta> .form-group > p').show();
                }
            }
        });
        $('#btnSalvaMetaDatiPartial').click(function() {
            $('#modalMetaDati').modal("close");
            waiting(true);

            var oggetto_modificabile = $("input[type=radio][name='Oggetto']:checked")[0];
            if ($(oggetto_modificabile).val() == 1) {
                atto.Oggetto_Modificato = editor_oggetto.html();
            } else {
                atto.Oggetto_Modificato = "";
            }

            var premesse_modificabile = $("input[type=radio][name='Premesse']:checked")[0];
            if ($(premesse_modificabile).val() == 1) {
                atto.Premesse_Modificato = editor_premesse.html();
            } else {
                atto.Premesse_Modificato = "";
            }

            var richiesta_modificabile = $("input[type=radio][name='Richiesta']:checked")[0];
            if ($(richiesta_modificabile).val() == 1) {
                atto.Richiesta_Modificata = editor_richiesta.html();
            } else {
                atto.Richiesta_Modificata = "";
            }

            $.ajax({
                url: '@Url.Action("SalvaMetaDati")',
                type: "POST",
                data: JSON.stringify(atto),
                contentType: "application/json",
                dataType: "json"
            }).done(function(result) {
                location.reload();
            }).fail(function(err) {
                waiting(false);
                $('#modalMetaDati').modal("open");
                console.log("error", err);
                ErrorAlert(err.message);
            });
        });
    }

    async function SetupMetaDati(atto) {
        waiting(true);
        $('#NAtto').text($('div[id*="txtNomeAtto_"]').data("nome-atto"));
        LoadMetaDati_Oggetto(atto);
        LoadMetaDati_Premesse(atto);
        LoadMetaDati_Richiesta(atto);

        waiting(false);
    }

    function LoadMetaDati_Oggetto(atto) {
        if (atto.Oggetto_Modificato != null && atto.Oggetto_Modificato !== "") {
            $("input[type=radio][name='Oggetto'][value=1]").prop("checked", true);
        } else {
            $("input[type=radio][name='Oggetto'][value=0]").prop("checked", true);
        }

        var container_oggetto = $('#EditorOggetto').parent();
        var editor_oggetto = $(container_oggetto).find(".trumbowyg-editor");
        var oggetto_checked = $("input[type=radio][name='Oggetto']:checked");
        if ($(oggetto_checked).val() == 0) {
            editor_oggetto.html(atto.Oggetto);
            $('#metaDatiOggetto' + '> .form-group > p').hide();
        } else if ($(oggetto_checked).val() == 1) {
            editor_oggetto.html(atto.Oggetto_Modificato);
            $('#metaDatiOggetto' + '> .form-group > p').show();
        }
    }

    function LoadMetaDati_Premesse(atto) {
        if (atto.Premesse_Modificato != null && atto.Premesse_Modificato !== "") {
            $("input[type=radio][name='Premesse'][value=1]").prop("checked", true);
        } else {
            $("input[type=radio][name='Premesse'][value=0]").prop("checked", true);
        }

        var container_premesse = $('#EditorPremesse').parent();
        var editor_premesse = $(container_premesse).find(".trumbowyg-editor");
        var premesse_checked = $("input[type=radio][name='Premesse']:checked");
        if ($(premesse_checked).val() == 0) {
            editor_premesse.html(atto.Premesse);
            $('#metaDatiPremesse' + '> .form-group > p').hide();
        } else if ($(premesse_checked).val() == 1) {
            editor_premesse.html(atto.Premesse_Modificato);
            $('#metaDatiPremesse' + '> .form-group > p').show();
        }
    }

    function LoadMetaDati_Richiesta(atto) {
        if (atto.Richiesta_Modificata != null && atto.Richiesta_Modificata !== "") {
            $("input[type=radio][name='Richiesta'][value=1]").prop("checked", true);
        } else {
            $("input[type=radio][name='Richiesta'][value=0]").prop("checked", true);
        }

        var container_richiesta = $('#EditorRichiesta').parent();
        var editor_richiesta = $(container_richiesta).find(".trumbowyg-editor");
        var richiesta_checked = $("input[type=radio][name='Richiesta']:checked");
        if ($(richiesta_checked).val() == 0) {
            editor_richiesta.html(atto.Richiesta);
            $('#metaDatiRichiesta' + '> .form-group > p').hide();
        } else if ($(richiesta_checked).val() == 1) {
            editor_richiesta.html(atto.Richiesta_Modificata);
            $('#metaDatiRichiesta' + '> .form-group > p').show();
        }
    }

</script>