@using System.Linq;
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    var _disabled = Model.ClientMode == ClientModeEnum.TRATTAZIONE;
}
<div id="slide-dasi-DX" class="sidenav sidenav-search" style="overflow: auto !important">
    
    <div class="row">
        <div class="col s12">
            <h4>
                <b>Filtri disponibili</b>
            </h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="search-input" type="text" placeholder="Cerca...">
        </div>
        <div class="col s12">
            <ul id="data-collection" class="collection">
                <!-- Gli elementi della lista saranno aggiunti dinamicamente qui -->
            </ul>
        </div>
    </div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		// Funzione per aggiornare la visibilità degli elementi della collection basata sulla ricerca
		function updateCollectionVisibility() {
			var searchQuery = document.getElementById('search-input').value.toLowerCase();
			var collectionItems = document.querySelectorAll('#data-collection .collection-item');

			collectionItems.forEach(function (item) {
				var itemText = item.textContent.toLowerCase();
				if (itemText.indexOf(searchQuery) !== -1) {
					item.style.display = '';
				} else {
					item.style.display = 'none';
				}
			});
		}

		// Ascolta gli eventi di input sul campo di ricerca
		document.getElementById('search-input').addEventListener('input', updateCollectionVisibility);
    });

    function filtra() {
        setTimeout(function() {
                $('body').removeClass('loaded');
            },
            200);
        $('#formFiltraDASI').submit();
    }

    function filtra(page) {
        $('#inputFilterPage').val(page);
        setTimeout(function() {
                $('body').removeClass('loaded');
            },
            200);
        $('#formFiltraDASI').submit();
    }

    function filtra_Paginazione(size) {
        $('#inputFilterPage').val(1);
        $('#inputFilterSize').val(size);
        setTimeout(function() {
                $('body').removeClass('loaded');
            },
            200);
        $('#formFiltraDASI').submit();
    }

    function filtra_View(view) {
        $('#inputFilterView').val(view);
        setTimeout(function() {
                $('body').removeClass('loaded');
            },
            200);
        $('#formFiltraDASI').submit();
    }

    function openDasiSearch() {
        var elems = document.querySelector("#slide-dasi-DX");
        var instances = M.Sidenav.init(elems,
            {
                edge: "right",
                draggable: true,
                onOpenStart: function() {
                    // Menu laterale SX sotto a layer opaco
                    $("#slide-out").css("z-index", 997);
                },
                onCloseEnd: function() {
                    // Ripristino menu laterale SX
                    $("#slide-out").css("z-index", 999);
                }
            });

        instances.open();
    }

</script>