<!-- Modal Structure -->
<div id="modalIscriviSeduta" class="modal bottom-sheet">
    <div class="modal-content">
        <h4 id="txtIscriviSeduta"></h4>
        <ul class="collection with-header" id="lstSeduteAttive">
        </ul>
        <input id="dtRichiestaIscrizione" class="form-control" type="datetime-local" style="display: none"/>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="btnIscriviSeduta_Salva">Proponi</a>
    </div>
</div>

<script>
    function ProponiSedutaDASI() {
        $('#btnProponiSedutaDASI').hide();
        $('#dtRichiestaIscrizione').show();

        $('#btnIscriviSeduta_Salva').text("Proponi seduta desiderata");
    }

    function RichiediIscrizioneSedutaDASI(uidAtto, nomeAtto) {
        $('#modalIscriviSeduta>div>ul').empty();
        var checked = sedute.length == 1;
        $.each(sedute,
            function (i, item) {
                var resultDate = GetFormattedDate(item.Data_seduta);
                var text = "Seduta del " + resultDate;
                $('#modalIscriviSeduta>div>ul').append(templateSeduteAttive
                    .replace("{TEXT}", text)
                    .replace("{VALUE}", resultDate)
                    .replace("{CHECKED}", checked ? "checked='checked'" : ""));
            });

        $('#btnProponiSedutaDASI').show();
        $('#dtRichiestaIscrizione').hide();
        $('#txtIscriviSeduta').html("Proponi iscrizione dell'atto <b>" + nomeAtto + "</b> in data:");
        $('#dtRichiestaIscrizione').val("");
        $("#btnIscriviSeduta_Salva").on("click",
            function() {
                if ($('input[name="gruppoSeduteAttive"]:checked').length == 0) {
                    swal({
                        title: "Attenzione",
                        text: "Seleziona una seduta disponibile",
                        icon: "warning"
                    }).then(function () {
                        $("#modalIscriviSeduta").modal("open");
                    });

                    return;
                }
                waiting(true);
                var listaAtti = [];
                var obj = {};

                listaAtti.push(uidAtto);
                var sedutaSelezionata = $('input[name="gruppoSeduteAttive"]:checked')[0].value;
                obj.DataRichiesta = sedutaSelezionata;
                obj.Lista = listaAtti;
                
                $.ajax({
                    url: '@Url.Action("RichiediIscrizione")',
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(data) {
                    waiting(false);
                    $("#modalIscriviSeduta").modal("close");
                    $("#btnIscriviSeduta_Salva").off("click");
                    if (data.message) {
                        swal({
                            title: "Errore",
                            text: data.message,
                            icon: "error"
                        });
                    } else {
                        go(data);
                    }
                }).fail(function(err) {
                    waiting(false);
                    console.log("error", err);
                    Error(err);
                });
            });
        $('#modalIscriviSeduta').modal("open");
    }

    function RimuoviRichiestaIscrizioneDASI(uidAtto, nomeAtto) {

        swal({
            title: "Rimozione proposta",
            text: "Sei sicuro di voler rimuovere la proposta per l'atto " + nomeAtto + "?",
            icon: "warning",
            buttons: ["Annulla", "Rimuovi"],
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                var listaAtti = [];

                listaAtti.push(uidAtto);

                var obj = {};
                obj.Lista = listaAtti;

                $.ajax({
                    url: '@Url.Action("RimuoviRichiestaIscrizione")',
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(data) {
                    $("#modalRimuoviSeduta").modal("close");
                    $("#btnRimuoviSeduta_Salva").off("click");
                    console.log(data.message);
                    if (data.message) {
                        swal({
                            title: "Errore",
                            text: data.message,
                            icon: "error"
                        });
                    } else {
                        go(data);
                    }
                }).fail(function(err) {
                    console.log("error", err);
                    Error(err);
                });
            }
        });
    }
</script>