@using ExpressionBuilder.Common
<div id="modalStampa" class="modal">
    <div class="modal-content">
        <h5 id="attiStampaDisplayName"></h5>
        <p>Stai per generare la stampa degli atti selezionati. Sei sicuro?</p>
        @using (Html.BeginForm("NuovaStampa", "Stampe", FormMethod.Post, new {id = "formStampa"}))
        {
            @Html.AntiForgeryToken()
            <div id="pnlDaA">
                <div class="form-group">
                    <label>Dall' atto in posizione:</label>
                    <input id="txtDa" name="Da" type="number" class="form-control" value="1" min="1"/>
                </div>
                <div class="form-group">
                    <label>All' atto in posizione:</label>
                    <input id="txtA" name="A" type="number" class="form-control"/>
                </div>
            </div>
        }
        <div class="modal-footer">
            <button type="button" class="btn modal-close grey">Annulla</button>
            <a id="btnConfermaStampa" class="btn blue">Genera stampa</a>
        </div>
    </div>
</div>
@{
    var mode = HttpUtility.ParseQueryString(Request.Url.Query).Get("mode");
    if (string.IsNullOrEmpty(mode))
    {
        mode = "1";
    }
}

<script>
    function ConfirmStampa() {
        $("#attiStampaDisplayName").empty();

        var documentiTotali = $("#hdTotaleDocumenti").val();
        console.log("documentiTotali", documentiTotali);
        var selezionaTutti = getSelezionaTutti();
        console.log("selezionaTutti", selezionaTutti);

        var lista = getListaAtti();
        console.log("list", lista);

        var totaleDoc = selezionaTutti || lista.length == 0 ? documentiTotali - lista.length : lista.length;
        console.log("totaleDoc", totaleDoc);

        if (totaleDoc <= 0) {
            ErrorAlert("Seleziona almeno un atto da stampare");
            return;
        }
        if (totaleDoc >= 10) {
            $('#pnlDaA').show();
        } else {
            $('#pnlDaA').hide();
        }
        $("#txtA").val(totaleDoc);
        $("#txtA").prop("max", totaleDoc);

        $("#attiStampaDisplayName").append("GENERA FASCICOLO (TOTALE ATTI DA ESPORTARE: " + totaleDoc + ")");

        $("#modalStampa").modal("open");
        $("#btnConfermaStampa").on("click",
            function() {
                $("#formStampa").submit();
            });
    }

    $("#formStampa").submit(function(e) {
        e.preventDefault();
    }).validate({
        submitHandler: function(form) {
            var obj = {};

            obj.param = {
                Da: $("#txtDa").val(),
                A: $("#txtA").val(),
                CLIENT_MODE: @Html.Raw(mode)
            };

            var ls = getListaAtti();
            if (ls.length > 0) {
                obj.filtro = [];
                var selezionaTutti = getSelezionaTutti();
                for (var i = 0; i < ls.length; i++) {
                    obj.filtro.push({
                        PropertyId: "UIDATTO",
                        Operation: selezionaTutti ? 5 : 1,
                        Value: ls[i],
                        Connector: @((int) FilterStatementConnector.Or)
                    });
                }
            }
            console.log("STampa", obj);

            //submit via ajax
            $.ajax({
                url: baseUrl + "/stampe/nuova-dasi",
                type: "POST",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function(data) {
                if (data.message)
                    ErrorAlert(data.message);
                else {
                    $("#modalStampa").modal("close");
                    waiting(false);
                    M.toast({ html: "<span>Vai alle stampe</span><button onclick='go(\"" + data + "\")' class='btn-flat toast-action'>Vai</button>", classes: 'rounded', displayLength: 10000 });
                }

                setListaEmendamenti([]);
                setSelezionaTutti(false);
            }).fail(function(err) {
                console.log("error", err);
                ErrorAlert(err.message);
            });

            return false; //This doesn't prevent the form from submitting.
        }
    });
</script>