@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

@if (Model.Atto.Tipo == (int)TipoAttoEnum.ODG)
{
    <div class="row">
        <div class="col s12 form-group">
            <label>Atto: </label>
            <select id="Atto_ODG">
            </select>
        </div>
    </div>
    <script>
        $(document).ready(async function() {
            var atti = await GetAttiSeduteAttive();
            if (atti.length > 0) {
                var select = $("#Atto_ODG");
                select.empty();
                $.each(atti,
                    function(index, item) {
                        var template = "";
                        if (item.UIDAtto == '@Html.Raw(Model.Atto.UID_Atto_ODG)')
                            template = "<option selected='selected'></option>";
                        else
                            template = "<option></option>";
                        select.append($(template).val(item.UIDAtto).html(item.NAtto));
                    });

                var elems = document.querySelectorAll("#Atto_ODG");
                M.FormSelect.init(elems, null);
            }
        });
    </script>
}
