@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

@if (Model.Atto.Tipo == (int)TipoAttoEnum.MOZ)
{
    <div class="row">
        <div class="col s12 form-group">
            <label>Tipo Mozione: </label>
            <select id="Atto_TipoMOZ">
            </select>
        </div>
    </div>
    <script>
        $(document).ready(async function() {
            var tipi = await GetTipiMOZDASI();
            if (tipi.length > 0) {
                var select = $("#Atto_TipoMOZ");
                select.empty();
                $.each(tipi,
                    function(index, item) {
                        var template = "";
                        if (item.IDTipoAtto == @Html.Raw(Model.Atto.TipoMOZ))
                            template = "<option selected='selected'></option>";
                        else
                            template = "<option></option>";
                        select.append($(template).val(item.IDTipoAtto).html(item.Tipo_Atto));
                    });

                var elems = document.querySelectorAll("#Atto_TipoMOZ");
                M.FormSelect.init(elems, null);
            }
        });
    </script>
}
