@model dynamic

@{
    ViewBag.Title = "DASI";
}

<div class="row">
    <div class="col s12">
        <h5>
            <b>Riepilogo Attisi Sindacato Ispettivo</b>
        </h5>
    </div>
</div>
<hr />
