<table style='width:100%;'>
    <tr style="border-bottom: solid !important;border-top: solid !important">
        <td colspan='2' style='padding:10px;text-align: center;'>
            <span style="font-size:small;"><b>{lblTitoloPDLEMView}</b></span>
            <br />
            <span style="font-size:small;">{lblSubTitoloPDLEMView}</span>
        </td>
    </tr>
    <tr >
        <td colspan='2' style='padding:5px;text-align: center;'>
            <b>
                EMENDAMENTO <br />
            </b>
        </td>
    </tr>
    <tr >
        <td style='width:60%'>
        </td>
        <td style='border-style: solid; text-align:center; border-width: 1px; border-color: black; width:40%; padding:10px; margin:10px; font-size:13px;'>{lblTipoParteEMView}</td>
    </tr>
    <tr >
        <td colspan='2' style='padding:5px;'><br /></td>
    </tr>
    <tr >
        <td colspan='2' style='padding:10px;text-align: left!important'>
            <br />
            {lblTestoEMView}
        </td>
    </tr>
    <tr >
        <td colspan='2' style='padding:10px; font-style: normal;text-align: left!important'>
            {lblTestoRelEMView}
        </td>
    </tr>
    <tr >
        <td colspan='2' style='text-align:left;padding:10px'><i>L'EM/SUBEM HA EFFETTI FINANZIARI? {lblEffettiFinanziari}</i></td>
    </tr>
    {lblAllegati}
</table>