<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td colspan="2" style="text-align:center;padding-bottom:25px">
                <img src="http://pem.consiglio.regione.lombardia.it/images/logoCRL.gif" style="width: 200px" />
            </td>
        </tr>
        <tr>
            <td style="text-align:left;padding:20px; font-size:small">
                EMENDAMENTI IN ORDINE DI {ORDINE}
            </td>
            <td style="padding:20px;text-align:right; font-size:small">
                {CountEM} / {CountSUBEM}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;padding:150px 20px 20px 20px;font-size:x-large;font-weight:bold">
                Progetto di Legge N° {NumeroProgettoLegge}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;padding:20px">
                {OggettoProgettoLegge}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:20px;font-size:small">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                Milano, {DataOdierna}
            </td>
        </tr>
    </table>
</body>
</html>
