<style>
    tr, td { border: unset !important }

    .left-border {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
    }

    .parte {
        border: solid !important;
        font-size: 13px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 40%;
    }
</style>

<table style="width: 100%">
    {NOTE_PUBBLICHE_COMMENTO_START}
    <tr>
        <td style="text-align: left">
            <h5 style="font-size: 15px">
                {lblNotePubblicheEMView}
            </h5>
        </td>
    </tr>
    {NOTE_PUBBLICHE_COMMENTO_END}
    <tr>
        <td>
            <h3>
                <b>{lblTitoloEMView}</b>
            </h3>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%;">
            <table style="vertical-align: top; width: 100%;">
                <tr>
                    <td style="vertical-align: top;">
                        {ltEMView}
                        <br/>
                        <table>
                            {FIRMEANTE_COMMENTO_START}
                            <tr>
                                <td>
                                    <div style="text-align: left;">
                                        <h5>Firme</h5>
                                    </div>
                                    {radGridFirmeView}
                                </td>
                            </tr>
                            {FIRMEANTE_COMMENTO_END}
                            {FIRME_COMMENTO_START}
                            <tr>
                                <td>
                                    {radGridFirmePostView}
                                </td>
                            </tr>
                            {FIRME_COMMENTO_END}
                        </table>
                        {FATTOPROPRIO_COMMENTO_START}
                        <br/>
                        <div style="padding: 2px">
                            <div style="font-style: normal; text-align: left; width: 100%;">
                                {lblFattoProprioDa}
                            </div>
                        </div>
                        {FATTOPROPRIO_COMMENTO_END}
                        {TESTOMOD_COMMENTO_START}
                        <br/>
                        <div style="margin: 2px; padding: 2px">
                            <div style="padding: 10px; text-align: left">
                                <br/>
                                <b>DURANTE LA DISCUSSIONE IN AULA IL TESTO E' STATO COSI' MODIFICATO:</b>
                                {ltTestoModificabile}
                            </div>
                        </div>
                        {TESTOMOD_COMMENTO_END}
                        {NOTEPRIV_COMMENTO_START}
                        <div style="margin: 2px; padding: 2px">
                            <div style="font-size: 15px; font-style: italic; padding: 10px; text-align: left;">
                                {lblNotePrivateEMView}
                            </div>
                        </div>
                        {NOTEPRIV_COMMENTO_END}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>