<div class="row">
    <div class="col s12 center">
        <h4>
            <b>{lblTitoloPDLEMView}</b>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col s12 center">
        <h6>
            <b>{lblSubTitoloPDLEMView}</b>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        <h6>{lblTipoParteEMView}</h6>
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        {lblTestoEMView}
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        {lblTestoRelEMView}
    </div>
</div>
<div class="row">
    <div class="col s12 left-align">
        {lblAllegati}
    </div>
</div>