<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="IronPdf" version="2021.3.1" targetFramework="net48" />
  <package id="IronPdf.Assets.Rendering.Windows" version="22.0.0" targetFramework="net48" />
</packages>